﻿@model MvcInfos.Models.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Управление";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Изменение параметров учетной записи</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Фирмы
        </dt>
        <dd>
            @Model.Firm
        </dd>

        <dt>
            ФИО
        </dt>
        <dd>
            @Model.FIO
        </dd>
        <dt>Логин</dt>
        <dd>
            @User.Identity.Name
        @*  [
            @if (Model.HasUserName)
            {
                @Html.ActionLink("Редактирование", "ChangeUserLogin")
            }
            else
            {
                @Html.<a href="`">content</a>ctionLink("Создать", "SetUserLogin")-
            }
            ]*@
    </dd>
    <dt>Пароль:</dt>
    <dd>
        [
        @if (Model.HasPassword)
            {
            @Html.ActionLink("Смена пароля", "ChangePassword")
        }
        else
        {
            @Html.ActionLink("Создать", "SetPassword")
        }
        ]
    </dd>
    <dt>Внешние имена входа(Скорее привязанные службы входа, типа Live, VK, Facebook):</dt>
    <dd>
        @Model.Logins.Count [
        @Html.ActionLink("Управление", "ManageLogins") ]
    </dd>
    @*
        Номера телефонов можно использовать в качестве второго проверочного фактора для системы двухфакторной проверки подлинности.

         В <a href="http://go.microsoft.com/fwlink/?LinkId=403804">этой статье</a>
            вы можете узнать, как настроить для этого приложения ASP.NET двухфакторную проверку подлинности с использованием SMS.

         Настроив двухфакторную проверку подлинности, раскомментируйте следующий блок.
    *@
    @*
        <dt>Номер телефона:</dt>
        <dd>
            @(Model.PhoneNumber ?? "Нет") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Изменить", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Удалить", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Добавить", "AddPhoneNumber")
            }
            ]
        </dd>
    *@
    <dt>Двухфакторная проверка подлинности:</dt>
    <dd>
        <p>
            Поставщики двухфакторной проверки подлинности не настроены. В <a href="http://go.microsoft.com/fwlink/?LinkId=403804">этой статье</a>
            вы можете узнать, как настроить двухфакторную проверку подлинности в этом приложении ASP.NET.
        </p>
        @*@if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Включено
                    <input type="submit" value="Отключить" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Отключено
                    <input type="submit" value="Включить" class="btn btn-link" />
                    </text>
                }
            }*@
    </dd>
</dl>
</div>
