﻿<form>
	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12" for="host-end-date">
			Адрес загрузчика <span class="required">*</span>
		</label>
		<div class="col-md-9 col-sm-9 col-xs-12">
			<input type="text" @*webkitdirectory*@ id="host-uploaderurl" required class="form-control col-md-12 col-xs-12">
		</div>
	</div>
</form>