﻿@model MvcInfos.Models.ViewModels.ModalFirmEdit
@using MvcInfos.Controllers;

         
<div class="modal-dialog" role="document" id="@string.Format("modalFirmEdit_{0}_in", Model.idFirm)">
    @using (Ajax.BeginForm(new AjaxOptions
    {
        OnSuccess = string.Format("OnSuccess{0}", Model.idFirm.GetHashCode()),
        OnFailure = string.Format("OnFailure{0}", Model.idFirm.GetHashCode()),
        OnComplete = string.Format("OnComplete{0}", Model.idFirm.GetHashCode()),
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = string.Format("modalFirmEdit_{0}_in", Model.idFirm)

    }))
    {
        <div class="modal-content">
            @{ 
                Html.EnableClientValidation();
            }
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@string.Format("Редактирование({0})", Model.NameFirm) </h4>
            </div>
            <div class="modal-body">

                @Html.ValidationSummary()
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @* @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                    @Html.HiddenFor(model => model.idFirm)

                    <div class="form-group">
                        @Html.LabelFor(model => model.NameFirm, new { @class = "control-label col-md-5 col-xs-5" })
                        <div class="col-md-7 col-xs-5">
                            @Html.EditorFor(model => model.NameFirm, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NameFirm, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Directors, new { @class = "control-label col-md-5 col-xs-5" })
                        <div class="col-md-7 col-xs-5">
                            @Html.DropDownListFor(m => m.Directors, Model.Items, new { @class = "form-control selectpicker", @multiple = "multiple" })
                            @Html.ValidationMessageFor(m => m.Directors, "Директорский состав (1 и более)", new { @class = "text -danger" })
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <input type="submit" value="Сохранить изменения" class="btn btn-default" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
          
        </div>
    }
    </div>
<script>

    @{
        var functionStart1 = "function " + string.Format("OnComplete{0}(data)", Model.idFirm.GetHashCode());
     }
    @functionStart1{
      //  console.log("OnComplete - modal");
       @* var test = @Ajax.ViewData["isValid"].ToString().ToLower();
        console.log(@Ajax.ViewData["isValid"].ToString().ToLower());
        console.log(test);
       if (test) {
            $('#@string.Format("myModalEdit_{0}", Model.Id)').modal('hide');
            $('#@string.Format("myModalEdit_{0}", Model.Id)').html("<div><\div>");
        }else{
            var hmod = $("<!DOCTYPE html><html><head></head><body>" + data.responseText + "</body></html>")[3].children[0].children[0].children[0].children[1];
             $('#@string.Format("modalEdit_{0}", Model.Id)').html(hmod)
            $('#@string.Format("modalEdit_{0}", Model.Id)').html(data);
            console.log(data);
        }*@
    }
    @{
         var functionStart2 = "function " + string.Format("OnSuccess{0}(data)", Model.idFirm.GetHashCode());
     }
    @functionStart2{
        console.log("OnSuccess - modal");
        var test = @Ajax.ViewData["isValid"].ToString().ToLower();
        console.log(@Ajax.ViewData["isValid"].ToString().ToLower());
        //data.success
        if (test) {
            $('#@string.Format("modalFirmEdit_{0}", Model.idFirm)').modal('hide');
            $('#@string.Format("Name_{0}", Model.idFirm)').html('@Model.NameFirm');
            $('#@string.Format("modalFirmEdit_{0}", Model.idFirm)').html("<div><\div>");
        }

        //alert("OnSuccess");
    }
    @{
             var functionStart3 = "function " + string.Format("OnFailure{0}(data)", Model.idFirm.GetHashCode());
         }
    @functionStart3{
        //alert("OnFailure");
    }
    //function OnComplete(data) {

    //}
    //function OnSuccess(data) {

    //}
    //function OnFailure() {

    //}
    $(function () {
        initSelector();
        $('.selectpicker').on('changed.bs.select', function (e) {
            console.log(e);
            // do something...
        });
        //initDatePicker();
    })
</script>