﻿@*@model MvcInfos.Models.ViewModels.ModalFirmDelInfo
@using MvcInfos.Controllers;*@
<div>
    <!-- Modal -->
    <div class="modal fade" id="modalDeleteFirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Удалить</h4>
                </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <dt>Наименование</dt> <dd id="orgName"> </dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <button type="button" class="btn btn-success" data-dismiss="modal">Нет!</button>
                        <a href="#" id="okdDel" class="btn btn-danger">
                            Да!
                        </a>
                    }

                </div>
            </div>
        </div>
    </div>

</div>
