﻿@model MvcInfos.Models.ViewModels.ModalFirmView
@using MvcInfos.Controllers;
<div>
    <!-- Modal -->
    <div class="modal fade" id="@string.Format("modalFirmView_{0}", Model.IdFirm)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">@string.Format("Подробнее({0})", Model.Name) </h4>
                </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Directors)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Directors)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ColVoSotr)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ColVoSotr)
                        </dd>                                              


                    </dl>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>

</div>
