﻿
@{
    ViewBag.Title = "Календарь";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TitlePage = "Календарь";
  //  ViewBag.TitlePageSmall = @DateTime.Now;
    ViewBag.UseSearch = true;
}

<div class="calendarPage">

    <div class="x_panel z_calendar">
        <div class="x_content ">
            <div id='calendar'></div>
        </div>
    </div>
</div>


