﻿@{
    ViewBag.Title = "Новая задача";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TitlePage = "Задача";
    ViewBag.TitlePageSmall = "Новая задача";
    ViewBag.UseSearch = false;
}
<div class="row" style="text-align:center;">
    <h2>Данная страница находится в разработке</h2>
    <img src="~/images/under_construction.gif" />
</div>