﻿
@{
	ViewBag.Title = "Менеджер задач";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.TitlePage = "Менеджер задач";
	//  ViewBag.TitlePageSmall = ViewData["firmName"];
	ViewBag.UseSearch = true;
}


<div class="x_panel">
	<div class="project-control">
		<div class="buttons-left">
			<span class="projects">
				<button type="button" class="btn btn-default button-selector" data-text="Не выбран проект">
					Не выбран проект
				</button>
				<span class="selector" id="selectorId">

				</span>
			</span>
			<button id="addTaskButton" disabled type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" data-text="Добавить задачу">
				Добавить задачу
			</button>
			@*<span>
					<label data-text="Задачи для:">
						Задачи для:
					</label>
				</span>*@
			@* @Html.ActionLink("Добавить задание в *", "AddNewTask", new { @idFirm = ViewData["idFirm"] }, new { @class = "btn btn-success" })*@
		</div>
		<div class="buttons-right">
			<div class="btn-group" data-toggle="buttons-radio">
				<button type="button" class="btn btn-default" link="True">Текущие</button>
				<button type="button" class="btn btn-default" link="False">Законченные</button>
				<button type="button" class="btn btn-default" link="null">Все</button>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>

<div class="row">
	<div class="col-md-12">
		<div class="x_panel">
			<div class="x_content">
				<div class="row">
					<div class="col-md-12  col-sm-12">
						<div class="x_content">
							<ul class="list-unstyled timeline">
								<li>
									<div class="block">
										<div class="tags">
											<a href="" class="tag tag-default">
												<span title="Приоритет 6">Приоритет 6</span>
											</a>
										</div>

										<div class="block_content">

											<h2 class="title">
												<span>Задача 1</span>
												<span class="settings">
													<span class="buttons_manage">
														@*<span class="buttons_manage_btn">*@
														<button class="btn btn-primary  btn-xs">Просмотреть <span class="fa fa-list-alt"></span></button>
														<button class="btn btn-info btn-xs">Редактировать <span class="fa fa-edit"></span></button>
														<button class="btn btn-danger btn-xs">Удалить <span class="fa fa-trash"></span></button>
														<button class="btn btn-success btn-xs">Подзадача <span class="fa fa-plus"></span></button>
														@*</span>*@
													</span>
													<span class="free_zone"></span>
													<span class="fa fa-ellipsis-v settings_ellipsis_button"></span>
												</span>
											</h2>


											<div class="byline">
												<span>Срок @DateTime.Now.AddDays(7) </span> Исполнитель <a>Jane Smith </a><span class="label label-default">default</span> <span class="label label-default">default</span>
											</div>
											<p class="excerpt">
												Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="block">
										<div class="tags">
											<a href="" class="tag tag-primary">
												<span title="Приоритет 5">Приоритет 5</span>
											</a>
										</div>

										<div class="block_content">
											<h2 class="title">
												<span>Задача 2</span>
												<span class="settings">
													<span class="buttons_manage">
														<button class="btn btn-primary  btn-xs">Просмотреть <span class="fa fa-list-alt"></span></button>
														<button class="btn btn-info btn-xs">Редактировать <span class="fa fa-edit"></span></button>
														<button class="btn btn-danger btn-xs">Удалить <span class="fa fa-trash"></span></button>
													</span>
													<span class="free_zone"></span>
													<span class="fa fa-ellipsis-v settings_ellipsis_button"></span>
												</span>
											</h2>
											<div class="byline">
												<span>Срок @DateTime.Now.AddDays(7) </span> Исполнитель <a>Jane Smith </a><span class="label label-default">default</span> <span class="label label-default">default</span>
											</div>
											<p class="excerpt">
												Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="block">
										<div class="tags">
											<a href="" class="tag tag-info">
												<span title="Приоритет 4">Приоритет 4</span>
											</a>
										</div>

										<div class="block_content">
											<h2 class="title">
												<span>Задача 3</span>
												<span class="settings">
													<span class="buttons_manage">
														<button class="btn btn-primary  btn-xs">Просмотреть <span class="fa fa-list-alt"></span></button>
														<button class="btn btn-info btn-xs">Редактировать <span class="fa fa-edit"></span></button>
														<button class="btn btn-danger btn-xs">Удалить <span class="fa fa-trash"></span></button>
													</span>
													<span class="free_zone"></span>
													<span class="fa fa-ellipsis-v settings_ellipsis_button"></span>
												</span>
											</h2>
											<div class="byline">
												<span>Срок @DateTime.Now.AddDays(7) </span> Исполнитель <a>Jane Smith </a><span class="label label-default">default</span> <span class="label label-default">default</span>
											</div>
											<p class="excerpt">
												Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="block">
										<div class="tags">
											<a href="" class="tag tag-success">
												<span title="Приоритет 3">Приоритет 3</span>
											</a>
										</div>

										<div class="block_content">
											<h2 class="title">
												<span>Задача 4</span>
												<span class="settings">
													<span class="buttons_manage">
														<button class="btn btn-primary  btn-xs">Просмотреть <span class="fa fa-list-alt"></span></button>
														<button class="btn btn-info btn-xs">Редактировать <span class="fa fa-edit"></span></button>
														<button class="btn btn-danger btn-xs">Удалить <span class="fa fa-trash"></span></button>
													</span>
													<span class="free_zone"></span>
													<span class="fa fa-ellipsis-v settings_ellipsis_button"></span>
												</span>
											</h2>
											<div class="byline">
												<span>Срок @DateTime.Now.AddDays(7) </span> Исполнитель <a>Jane Smith </a><span class="label label-default">default</span> <span class="label label-default">default</span>
											</div>
											<p class="excerpt">
												Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="block">
										<div class="tags">
											<a href="" class="tag tag-warning">
												<span title="Приоритет 2">Приоритет 2</span>
											</a>
										</div>

										<div class="block_content">
											<h2 class="title">
												<span>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</span>
												<span class="settings">
													<span class="buttons_manage">
														<button class="btn btn-primary  btn-xs">Просмотреть <span class="fa fa-list-alt"></span></button>
														<button class="btn btn-info btn-xs">Редактировать <span class="fa fa-edit"></span></button>
														<button class="btn btn-danger btn-xs">Удалить <span class="fa fa-trash"></span></button>
													</span>
													<span class="free_zone"></span>
													<span class="fa fa-ellipsis-v settings_ellipsis_button"></span>
												</span>
											</h2>
											<div class="byline">
												<span>Срок @DateTime.Now.AddDays(7) </span> Исполнитель <a>Jane Smith </a><span class="label label-default">default</span> <span class="label label-default">default</span>
											</div>
											<p class="excerpt">
												Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="block">
										<div class="tags">
											<a href="" class="tag tag-danger">
												<span title="Приоритет 1">Приоритет 1</span>
											</a>
										</div>

										<div class="block_content">
											<h2 class="title">
												<span>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</span>
												<span class="settings">
													<span class="buttons_manage">
														<button class="btn btn-primary  btn-xs">Просмотреть <span class="fa fa-list-alt"></span></button>
														<button class="btn btn-info btn-xs">Редактировать <span class="fa fa-edit"></span></button>
														<button class="btn btn-danger btn-xs">Удалить <span class="fa fa-trash"></span></button>
													</span>
													<span class="free_zone"></span>
													<span class="fa fa-ellipsis-v settings_ellipsis_button"></span>
												</span>
											</h2>
											<div class="byline">
												<span>Срок @DateTime.Now.AddDays(7) </span> Исполнитель <a>Jane Smith </a><span class="label label-default">default</span> <span class="label label-default">default</span>
											</div>
											<p class="excerpt">
												Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


@section modals{

	@using (Html.BeginForm(null, null, FormMethod.Post, htmlAttributes: new { @id = "__AjaxAntiForgeryForm" } @*"EditDepartment", "Administration", new { idFirm = Model.idFirm, idDepartment = Model.idDepartment, efd = EnumerableForDelete.Department }*@))
	{
		@Html.AntiForgeryToken()
	}
	<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<form id="new-task"  class="form-horizontal">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h2 class="modal-title">
							Добавление задачи в <small></small>
						</h2>
					</div>
					<div class="modal-body">
						<div class="form-horizontal form-label-left">
							<div class="form-group">
								<label class="control-label col-md-2 col-sm-3 col-xs-3" for="task-theme">Тема <span class="required">*</span></label>
								<div class="col-md-9 col-sm-9 col-xs-9">
									<input type="text" id="task-theme" required class="form-control col-md-12 col-xs-12" pattern=".{2,40}" title="от 2 до 40 знаков">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-2 col-sm-3 col-xs-3" for="task-end-date">Дата исполнения <span class="required">*</span></label>
								<div class="col-md-9 col-sm-9 col-xs-9">
									<div class='input-group date' id="inDate" style="margin-bottom:0px;">
										<input type='text' class="form-control" id="task-end-date" />
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar" />
										</span>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-2 col-sm-3 col-xs-3" for="task-description">Исполнители <span class="required">*</span></label>
								<div class="col-md-9 col-sm-9 col-xs-9" id="selector-task-end-employee">
									<select class="selectpicker" id="task-end-employee"></select>
								</div>
							</div>


							<div class="form-group">
								<label class="control-label col-md-2 col-sm-3 col-xs-3" for="task-priority">Приоритет <span class="required">*</span></label>
								<div class="col-md-9 col-sm-9 col-xs-9">
									<select class="selectpicker" id="task-priority">
										<option class="option option-default" value="6">Приоритет 6</option>
										<option class="option option-primary" value="5">Приоритет 5</option>
										<option class="option option-info" value="4">Приоритет 4</option>
										<option class="option option-success" value="3">Приоритет 3</option>
										<option class="option option-warning" value="2">Приоритет 2</option>
										<option class="option option-danger" value="1">Приоритет 1</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-2 col-sm-3 col-xs-3">Прикрепленные файлы:</label>
								<div class="files-loading col-md-9 col-sm-9 col-xs-9">
									<div class="files-colapser">
										<span class="colapse-trigger" style="display:none; z-index:-1;"></span>
										<div id="add-file-list"></div>
									</div>
									<button type="button" class="btn files-collapse-shower close" disabled>
										<i class="fa fa-chevron-down" aria-hidden="true"></i>
									</button>
								</div>
							</div>
								<div class="form-group">
									<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
										<div id="summernote">Hello Summernote</div>
									</div>
								</div>
							</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
						<button type="button" class="btn btn-primary" button-type="submit">Сохранить изменения</button>
					</div>
				</form>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
}
@section scripts{
	<script type="text/javascript">
		$(() => {
			initDatePicker();
			taskManager.initElements('selectorId');
			taskManager.initProjects(@ViewData["idFirm"], '@ViewData["isCurrent"]');
			@*taskManager.initRichTextarea('@Styles.Url("~/Content/css/tinymce")','@Scripts.Url("~/bundles/tinymce")');*@
		});
	</script>
}
