﻿@model MvcInfos.Models.ViewModels.DepartmentNode
@using MvcInfos.Controllers;
@{
    string rowClass = "";
    if (Model.Parent == null)
    {
        rowClass = string.Format("treegrid-{0}", Model.idNode);

    }
    else
    {
        rowClass = string.Format("treegrid-{0} treegrid-parent-{1}", Model.idNode, Model.Parent);
    }
}
 
<tr id="@string.Format("department{0}", Model.idNode)" class="@rowClass"> 
    <td>
        @Html.DisplayFor(modelItem => Model.NameDepartment)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.ColVoInDep)
    </td>
    <td>

        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" title="Редактировать" onclick="loadEditDep(@Model.idFirm,@Model.idNode, '@Model.NameDepartment', '@EnumerableForDelete.Department')">
            <span class="fa fa-edit" /> Редактировать
        </button>
        <button type="button" class="btn btn-info btn-xs" data-toggle="modal" title="Информация" data-target="#@string.Format("myModal_departmentDet_{0}", Model.GetFD)">
            <span class="fa fa-info" /> Информация
        </button>
        <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" title="Удалить" data-target="#@string.Format("myModal_departmentDel_{0}", Model.GetFD)">
            <span class="fa fa-trash" /> Удалить
        </button>

        @{ Html.Action("_modal_for_department_function", new {@id_firm = Model.idFirm, @id_dep = Model.idNode }); }
    </td>
    <td>
        <button type="button" class="btn btn-success btn-xs" data-toggle="modal" title="Добавить подотдел (рабочую группу)" data-target="#@string.Format("myModal_departmentSub_{0}", Model.GetFD)">
             <span class="fa fa-plus" /> Подотдел
        </button>
    </td>
</tr>