﻿@model MvcInfos.Models.ViewModels.ForDropdownMany

<div class="form-group" id="directorsDropdown">
    @Html.LabelFor(m => m.Name, new { @class = "control-label col-md-5 col-xs-5" })
    <div class="col-md-7 col-xs-5">
        @Html.DropDownListFor(m => m.Directors, Model.Items, new { @class = "form-control selectpicker", @multiple = false })
        @Html.ValidationMessageFor(m => m.Directors, "Директорский состав (1 и более)", new { @class = "text -danger" })
    </div>
</div>