﻿
@{
    ViewBag.Title = "Отчет";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TitlePage = "Отчет";
    ViewBag.TitlePageSmall =  @DateTime.Now;
    ViewBag.UseSearch = true;
}

<div class="row" style="text-align:center;">
    <h2>Данная страница находится в разработке</h2>
    <img src="~/images/under_construction.gif" />
</div>

