﻿@using VkNet
@{
    
    ViewBag.Title = "Обо мне";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Обо мне любимом</h2>
<p>
    Я студент прогрммист, ищущий приключений на свой зад и мечтающий переехать в СПб! <i class="fa fa-smile-o"></i>
</p>
@{ 

    VkApi va = new VkApi();
    var user_vk = va.Users.Get(37834987);
    Html.DisplayText(user_vk.LastName + " "+ user_vk.FirstName);
}
@*@Html.DisplayText(user_vk.About)'*@
@*<img src="@user_vk.MobilePhone" alt="Mountain View" style="width:304px;height:228px;">*@

@*<div id="vk_post_143409660_7209"></div>
<script type="text/javascript">
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//vk.com/js/api/openapi.js?121";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'vk_openapi_js'));
    (function () {
        if (!window.VK ||
            !VK.Widgets ||
            !VK.Widgets.Post ||
            !VK.Widgets.Post("vk_post_143409660_7209", 143409660, 7209, 'flVxofz2C3RMvpxOCh9kdCI7zwQ', { width: 500 }))
            setTimeout(arguments.callee, 50);
    }());
</script>*@
