﻿@model IEnumerable<MvcInfos.Models.ViewModels.AdministrationFirmDepartmentViewModels>
@using MvcInfos.Controllers;

<div id='targetReplaceDepartments'>

    
    @if (Model != null)
    {
        <table class="table table-hover treeDep">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ColVoInDep)
                    </th>
                    <th>
                        <button type="button" class="btn btn-success" value="Добавление отдела" data-toggle="modal" title="Добавление отдела" data-target="@string.Format("#myModal_departmentAdd_{0}", ViewData["id_firm"])">
                             <span class="glyphicon glyphicon-plus" />  Отдел                          
                        </button>
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody id="departmentNodes">

          
            </tbody>

            @{ Html.RenderPartial("Admin/Modal/_modal_for_departments", ((List<MvcInfos.Models.ViewModels.AdministrationFirmDepartmentViewModels>)Model)[0]); } @*_modal_for_department_function*@
        </table>

                }




    <div>
        @using (Html.BeginForm(null, null, FormMethod.Post, htmlAttributes: new { @id = "__AjaxAntiForgeryForm" } @*"EditDepartment", "Administration", new { idFirm = Model.idFirm, idDepartment = Model.idDepartment, efd = EnumerableForDelete.Department }*@))
        {
            @Html.AntiForgeryToken()
        }
        <!-- Modal -->
        <div class="modal fade" id="myModal_departmentEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"> </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-5 col-xs-5">Наименование отдела</label>
                                <div class="col-md-7 col-xs-5">
                                    <input type="text" id="nameDepInput" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group" id="employeeDropdown">
                            </div>
                            @*<div class="form-group" id="isChiefDropdown">
                                <select class="selectpicker" multiple data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true">
</select></div>*@
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Сохранить изменения" class="btn btn-default" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>