﻿
@using MvcInfos.Controllers
<div id="targetReplaceEmployees">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>
					Имя пользователя
				</th>
				<th>
					Электронная почта
				</th>
				<th>
					ФИО
				</th>
				<th>

				<button type="button" class="btn btn-primary btn-xs" id="addEmployeButton1">
					<span class="glyphicon glyphicon-plus" />Добавить сотрудника
				</button>
			</th>
		</tr>
	</thead>
	<tbody id="employBody"></tbody>
</table>

@section scripts{
	<script>

				   $('#myModal').on('shown.bs.modal', function () {
					   $('#myInput').focus()
				   })
	</script>

	@Scripts.Render("~/bundles/jqueryval")
	@{ Html.RenderPartial("_RenderNotifications.js"); }

}
</div>