﻿@model MvcInfos.Models.ViewModels.AdministrationEmployeePrintViewModels
@using MvcInfos.Controllers
@using MvcInfos.ActiveDirectory.Extensions;
<tr id="@string.Format( "employee{0}", Model.IdUser )">
    <td>
        @Html.DisplayFor(modelItem => Model.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.EMail)
    </td>
    <td id="@string.Format("fio_{0}", Model.IdUser)">
        @Html.DisplayFor(modelItem => Model.Fio)
    </td>
    <td>
        @{ 
            var un = Model.IdUser.Replace('-', '_');
        }
        <div id="divCalendarInfo" data-month="@Model.IdUser">
            @*<button type="button" class="btn btn-primary" data-toggle="modal" title="Редактировать" data-target="@String.Format("#myModalEdit_{0}",item.IdUser)">
                    <span class="glyphicon glyphicon-edit" />
                </button>*@
            @Ajax.ActionLink(" ", "_modal_for_user_edit", "Administration", new { firmId = ViewData["firmId"], id_user_to_details = Model.IdUser, efd = EnumerableForDelete.User },
           new AjaxOptions { UpdateTargetId = string.Format("myModalEdit_{0}", Model.IdUser), InsertionMode = InsertionMode.Replace, HttpMethod = "GET",
               OnSuccess = string.Format("myModalEdit_{0}_ShowProducerEditModal", un) }, htmlAttributes: new { @class = "btn btn-primary btn-xs fa fa-edit", @id = "chkOut" })
            <button type="button" class="btn btn-info btn-xs" data-toggle="modal" title="Просмотреть" data-target="@string.Format("#myModalDet_{0}",Model.IdUser)">
                <span class="fa fa-info" /> Информация
            </button>
            <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" title="Удалить" data-target="@string.Format("#myModalDel_{0}",Model.IdUser)">
                <span class="fa fa-trash" /> Удалить
            </button>
            <script>
                                    @{
                                        var functionStart1 = "function " + string.Format("myModalEdit_{0}_ShowProducerEditModal()", un);
                                    }
                                        @functionStart1{
                                            console.log(11)
                                            $('#@string.Format("myModalEdit_{0}", Model.IdUser)').modal('show');
                                            $('#@string.Format("myModalEdit_{0}", Model.IdUser)').on('show.bs.modal', function () {
                                                $('#@string.Format("myModalEdit_{0}_in", Model.IdUser)').focus()
                                            })
                                        }
            </script>
        @{ 
///TODO: Ввести свой тэг и переделать на асинхронную загрузку
///    <myLoaderTag url="@Url.Action("_modal_for_user", new { id_user_to_details = Model.IdUser, efd = EnumerableForDelete.User })"/>

        }
            
            @Html.Action("_modal_for_user", new { id_user_to_details = Model.IdUser, efd = EnumerableForDelete.User })
            <div @*id="@string.Format("myModalEdit_{0}_in", item.IdUser)"*@>
                <!-- Modal -->
                <div class="modal fade" id="@string.Format("myModalEdit_{0}", Model.IdUser)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    @*<div class="modal-dialog" role="document" id="@string.Format("myModalEdit_{0}_in", item.IdUser)">

                        </div>*@
                </div>
            </div>
            @*<div class="modal fade" id="@String.Format("myModalEdit_{0}", Model.Id)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>*@
        </div>
    </td>
</tr>

@section scripts{
    <script type="text/javascript">
		$(function () {
			console.log("_EmployePart");
		});
    </script>
    }