﻿@model IEnumerable<MvcInfos.Models.ViewModels.AdministrationFirmViewModels>
@using MvcInfos.Models
@using MvcInfos.Controllers;
@if (Model != null)
{
    if (Model.Count() > 0)
    {

    
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                }
                @foreach (var item in Model)
                {
                    count++;
                    //  ~/ Administration / Details
                    <tr>
                        <td>
                            <a href="@Url.Action("_Firm",new { id = item.idFirm } )" class="btn btn-info">
                                <span class="glyphicon glyphicon-arrow-right" />
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <div>                             
                                @Ajax.ActionLink(
                                    linkText: " ",
                                    actionName: "_modal_firm_edit",
                                    controllerName: "Administration",
                                    routeValues:  new { id_firm = item.idFirm, efd = EnumerableForDelete.User },
                                    ajaxOptions:  new AjaxOptions{
                                        UpdateTargetId = string.Format("modalFirmEdit_{0}_in", item.idFirm),
                                        InsertionMode = InsertionMode.Replace,
                                        HttpMethod = "GET",
                                        OnSuccess = string.Format("modalFirmEdit_{0}_ShowProducerEditModal", count)
                                    },
                                    htmlAttributes: new { @class = "btn btn-primary glyphicon glyphicon-edit", @id = "chkOut" }
                                )
                                <button type="button" class="btn btn-info" data-toggle="modal" title="Просмотреть" data-target="@string.Format("#modalFirmView_{0}",item.idFirm)">
                                    <span class="glyphicon glyphicon-list-alt" />
                                </button>

                                <button type="button" class="btn btn-danger" data-toggle="modal" title="Удалить" data-target="@string.Format("#modalFirmDel_{0}",item.idFirm)">
                                    <span class="glyphicon glyphicon-trash" />
                                </button>
                                @Html.Action("_modal_firm_del", new { id_firm = item.idFirm, efd = EnumerableForDelete.Firm })
                                @*@Html.Action("_modal_firm_edit", new { id_firm = item.idFirm, efd = EnumerableForDelete.Firm })*@
                                @Html.Action("_modal_firm_view", new { id_firm = item.idFirm, efd = EnumerableForDelete.Firm })                              
                  

                                <script>
                                    @{
                                            var functionStart = "function " + string.Format("modalFirmEdit_{0}_ShowProducerEditModal()", count);
                                    }
                                        @functionStart{
                                            console.log("load firm edit")
                                            $('#@string.Format("modalFirmEdit_{0}", item.idFirm)').modal('show');
                                            $('#@string.Format("modalFirmEdit_{0}", item.idFirm)').on('show.bs.modal', function () {
                                                $('#@string.Format("modalFirmEdit_{0}_in", item.idFirm)').focus()
                                            })
                                        }
                                </script>
                                <div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="@String.Format("modalFirmEdit_{0}", item.idFirm)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document" id="@string.Format("modalFirmEdit_{0}_in", item.idFirm)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                                        }
            </tbody>
        </table>
    </div>
                                        }
                                        else
                                        {
                                            <div class="alert alert-danger" role="alert">На сервере нет ни одной организации.</div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="alert alert-danger" role="alert">На сервере нет ни одной организации.</div>
                                        }
