﻿@{
    ViewBag.Title = "Администрирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MvcInfos.Entities.UserConfigurations
@using MvcInfos.ActiveDirectory.Extensions;

@if (User.IsHasAccessRights(EnumerableRoles.administrator_server))
{
    <h2>Администрирование сервером</h2>
}
else
{
    if (User.IsHasAccessRights(EnumerableRoles.administrator_firm))
    {
        <h2>Администрирование фирмой</h2>
    }
}
@*<script>
        $('.tree-toggle').click(function () {
            $(this).parent().children('ul.tree').toggle(200);
        });
        $(function () {
            $('.tree-toggle').parent().children('ul.tree').toggle(200);
        })
    </script>*@
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="well nav">
                <ul class="nav nav-pills nav-stacked" id="myTab">
                    <li class="navbar-header"><i class="glyphicon glyphicon-chevron-down"> </i> test</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "stats" ? "active" : "")"><a @*href="#index"*@ href="@Url.Action("stats", "Administration")" @*data-toggle="tab"*@>Статистика<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                    @if (User.IsHasAccessRights(EnumerableRoles.administrator_server))
                    {
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "AdminsServer" ? "active" : "")"><a href="@Url.Action("AdminsServer", "Administration")" @*data-toggle="tab"*@>О фирмах на сервере <span class="glyphicon glyphicon-chevron-right"></span></a></li>
                    }
                    @if (User.IsHasAccessRights(EnumerableRoles.administrator_server) || User.IsHasAccessRights(EnumerableRoles.administrator_firm))
                    {
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "admins" ? "active" : "")"><a href="@Url.Action("admins", "Administration")" @*data-toggle="tab"*@>О фирме<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                    }

                    <li><a href="#pane4" data-toggle="tab">Tab 4 <span class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="tab-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@RenderSection("scripts", required: false)