﻿@{
    ViewBag.Title = "Все фирмы на сервере";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>AllFirms</h2>*@
<p class="lead ">Все фирмы зарегистрированные на данном сервере</p>

@{
    ///TODO: Сделать асинхронный вызов
    Html.RenderAction("_Firm");
}


<script type="text/javascript">
    @*$(document).ready(() => {
        $('#targetReplaceEmployees').html('<i class="fa fa-spinner fa-spin fa-3x"></i> Загрузка...');
        var employeesLoad = '@Url.Action("_Firm")';
        var pageLoader = new AdministrationFirms(-1);
        pageLoader.loadPartialPage(employeesLoad, $('#targetReplaceEmployees'), EWhatGet.Employee);
    });*@

</script>
@*@if (Model != null)
    {
        <p class="lead ">Все фирмы зарегистрированные на данном сервере</p>

            Html.RenderAction("_Firm");

    }
    else
    {
        <div class="alert alert-block">
            <h4>Внимание!</h4>
            На сервере не зарегистрированно ни одной фирмы.
        </div>
    }*@
