﻿@{ ViewBag.Title = "Все зарегистрированные пользователи"; Layout = "~/Views/Shared/_Layout.cshtml"; }
<p class="lead">Все пользователи зарегистрированные на данном сервере.</p>
@*Html.Partial("_Employee", Model.AllUsers);*@ 
@*@{ Html.RenderAction("_Employee"); }*@
<div id="targetReplaceEmployees"></div>

<script type="text/javascript">
    $(document).ready(() => {
        $('#targetReplaceEmployees').html('<i class="fa fa-spinner fa-spin fa-3x"></i> Загрузка...');
        var employeesLoad = '@Url.Action("_Employee")';
        var pageLoader = new AdministrationFirms(-1);
        pageLoader.loadPartialPage(employeesLoad, $('#targetReplaceEmployees'), EWhatGet.Employee);

        @*$.get('@Url.Action("_Employee")', (html) => {
            $('#targetReplaceEmployees').replaceWith(html);
        });*@
    });

</script>