﻿@Html.AntiForgeryToken()
<div class="x_panel" id="targetReplace">
    <div class="x_content">
        <!-- Smart Wizard -->
        <p>Процесс создания учетной записи организации...</p>
        <div id="wizard" class="form_wizard wizard_horizontal">
            <ul class="wizard_steps">
                <li>
                    <a href="#step-1">
                        <span class="step_no">1</span>
                        <span class="step_descr">
                            Шаг 1<br />
                            <small>Создание организации</small>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#step-2">
                        <span class="step_no">2</span>
                        <span class="step_descr">
                            Шаг 2<br />
                            <small>Добавление отделов</small>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#step-3">
                        <span class="step_no">3</span>
                        <span class="step_descr">
                            Шаг 3<br />
                            <small>Добавление персонала</small>

                        </span>
                    </a>
                </li>
            </ul>
            <div id="step-1">
                <h4 class="StepTitle">Шаг 1. Организация</h4>
                <form class="form-horizontal form-label-left" id="step-1-inner">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="org-name">
                            Наименование организации <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="org-name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="country-name">
                            Страна <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="country-name" name="country-name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="country-city">
                            Город <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="country-city" name="country-city" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="country-address">
                            Адрес <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="country-address" name="country-address" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                </form>
            </div>
            <div id="step-2">
                <h4 class="StepTitle">Шаг 2. Отделы </h4>
                <div class="StepTitle" id="firmNameOnStep2"></div>
                <form class="form-horizontal form-label-left" id="step-1-inner">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="department-name">
                            Наименование отдела <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 col-xs-12 input-group">
                            <input type="text" id="department-name" required="required" class="form-control col-md-7 col-xs-12">
                            <input type="button" value="Добавить" class="btn btn-success" onclick="firmRegistrationPage.addDepartment()" />
                            <input type="button" value="Загрузка из файла" class="btn btn-info" data-toggle="modal" data-target="#myModal" />
                        </div>

                    </div>
                </form>

                <table class="table" id="departmentListTable">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Наименование отдела</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="bodyTableId"></tbody>
                </table>
            </div>
            <div id="step-3">
                <h4 class="StepTitle">Шаг 3. Добавление сотрудников</h4>
                <button class="btn btn-success" data-toggle="modal" data-target="#myModalEmployeeAddNew">Добавить</button>
                <button class="btn btn-info" data-toggle="modal" data-target="#myModalEmployeeLoadFromFile">Загрузка из файла</button>
                <table class="table" id="employeeListTable">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>ФИО</td>
                            <td>Отдел</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="bodyTableEmpleId"></tbody>
                </table>

            </div>

        </div>
        <!-- End SmartWizard Content -->

    </div>
</div>

<div>

    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Загрузка отделов из файла</h4>
                </div>
                <div class="modal-body">
                    <p>Перечисление отделов должно быть в файле txt(UTF8), через точку с запятой.</p>
                    <p>Пример: Монтажный отдел;ОВ;ВК;...</p>
                    <input type="file" class="downloader" value="Обзор" id="fileDownloader" accept=".csv" change="loadFromFile(0)" />
                    <div class="progress mymargin">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                             id="progressValidateDepartment"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" onclick="firmRegistrationPage.addDepartmentsFromFile()">Загрузка</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="myModalEmployeeLoadFromFile">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Загрузка списка сотрудников из файла</h4>
                </div>
                <div class="modal-body">
                    <p>Перечисление сотрудников должно быть в файле csv(UTF8).</p>
                    <p>Пример: Login;Email;Pass;Иванов;Иван;Иванович;16-12-1980;user/manager</p>
                    <p>Пример: Login;Email;Pass;Иванов;Иван;Иванович;16-12-1980;user/manager</p>
                    <input type="file" class="downloader" value="Обзор" id="fileDownloaderEmployees" accept=".csv" change="loadFromFile(1)" />
                    <div class="progress mymargin">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                             id="progressValidateEmoloyee"></div>
                    </div>
                    @* ///TODO: Добавить прогресс бар и закрыть окно по достижению 100% загрузки(валидации) данных *@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" onclick="firmRegistrationPage.addEmployeesFromFile()" id="employeeDownloaderButton">Загрузка</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="myModalEmployeeAddNew">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Новый сотрудник</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="employee-family-name">
                            Фамилия <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="employee-family-name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="employee-name">
                            Имя <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="employee-name" name="employee-name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="employee-middle-name">
                            Отчество <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="employee-middle-name" name="employee-middle-name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="employee-birthdate">
                            Дата рождения <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="employee-birthdate" name="employee-birthdate" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    @* ----------------------------------------------------------- *@

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="employee-login">
                            Логин <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="employee-login" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="employee-email">
                            Email <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="employee-email" name="employee-email" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="employee-pass">
                            Пароль <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="password" id="employee-pass" name="employee-pass" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="employee-pass-repeat">
                            Повторить пароль <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="password" id="employee-pass-repeat" name="employee-pass-repeat" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="employee-employmentdate">
                            Дата приема на работу <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="employee-employmentdate" name="employee-employmentdate" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" tabindex="-1" role="dialog" id="myModalSave">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @{
//TODO: Нужна ли кнопка закрыть?
                }
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Сохранение</h4>
            </div>
            <div class="modal-body">
                <div class="progress mymargin">
                    <div class="progress-bar progress-bar-striped active progress-my-status progress-my-status-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                         id="progressRegister"></div>
                </div>
                @* ///TODO: Добавить прогресс бар и закрыть окно по достижению 100% загрузки(валидации) данных *@
            </div>
            <div class="modal-footer">
                <input type="button" id="finishButoonOnSave" value="Готово" onclick="location.href='@Url.Action("admins", "Administration" )'" class="btn btn-primary" disabled />
                @*<a id="finishButoonOnSave" href="@Url.Action("admins", "Administration")" class="btn btn-primary" data-dismiss="modal" disabled>Готово</a>*@
                @*<button type="button" class="btn btn-primary" onclick="firmRegistrationPage.addEmployeesFromFile()" id="employeeDownloaderButton">Загрузка</button>            *@
            </div>
        </div>
    </div>
</div>