﻿@{
	ViewBag.Title = "Добавление организации";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.Title</h4>
@if (User.Identity.IsAuthenticated)
{
	<div class="container">
		<p class="x_panel">
			Процесс добавления фирмы состоит из 3х шагов. <b>Учтите! Каждый шаг влияет на следующий! </b> <br /> 1й - добавление
			самого предприятия.<br /> 2й - добавление отделов к предприятию. <br /> 3й - добавление сотрудников, и привязка к
			отделам.
		</p>
		<div id="targetReplace">
			<a href="#" onclick="loadOrgRegisterPage()" class="btn btn-success">Начать процесс создания</a>
		</div>



	</div>
	@section scripts{

		<script type="text/javascript">

    @{
        ///TODO: Добавить подсакзки валидации
    }


    function loadOrgRegisterPage() {
        console.log("click on project");
        var str = '@Url.Action("_AddFirmPartial")'
        $.get(str, function (html) {
            $('#targetReplace').replaceWith(html);
            var step1 = '@Url.Action("RegisterStep1")';
            var step2 = '@Url.Action("RegisterStep2")';
            var step3 = '@Url.Action("RegisterStep3")';
            var step4 = '@Url.Action("RegisterStep4")';

            $('#wizard').smartWizard({
                labelNext: 'Далее', // label for Next button
                labelPrevious: 'Назад', // label for Previous button
                labelFinish: 'Готово',  // label for Finish button

                onLeaveStep: function (obj, context) {
                    console.log("next");
                    if (context.toStep < context.fromStep) {
                        return true;
                    }
                    return validateSteps(context.fromStep); // return false to stay on step and true to continue navigation
                },
                onFinish: function (objs, context) {
                    @{
                        ///TODO: Финиш регистрации фирмы
                    }
                    console.log("finish");
                    if (validateAllSteps()) {
						firmRegistrationPage.saveToDatabase(step1, step2, step3, step4);
                    }
                }
            });
            $('.buttonNext').addClass('btn btn-success');
            $('.buttonPrevious').addClass('btn btn-primary');
            $('.buttonFinish').addClass('btn btn-default');


        });
    }

    function leaveAStepCallback(obj, context) {
        alert("Leaving step " + context.fromStep + " to go to step " + context.toStep);
        return validateSteps(context.fromStep); // return false to stay on step and true to continue navigation
    }



    // Your Step validation logic
    function validateSteps(stepnumber) {
        var isStepValid = true;
        // validate step 1
			isStepValid = firmRegistrationPage.validStep(stepnumber, isStepValid);

        return isStepValid;
    }
    // ...


    @{
        ///TODO: Добавить проверку на повторяемость
    }

		</script>
	}
	}
	else
	{
		<div class="alert alert-danger">
			<strong>Внимание!</strong>
			<p>Вы не авторизованы!</p>
		</div>
	}