﻿@using Microsoft.Azure.ActiveDirectory.GraphClient
@model User

@{
    ViewBag.Title = "Профиль пользователя";
}
<h2>@ViewBag.Title.</h2>

<table class="table table-bordered table-striped">
    <tr>
        <td>Отображаемое имя</td>
        <td>@Model.DisplayName</td>
    </tr>
    <tr>
        <td>Имя</td>
        <td>@Model.GivenName</td>
    </tr>
    <tr>
        <td>Фамилия</td>
        <td>@Model.Surname</td>
    </tr>
</table>
