﻿@using MvcInfos.Models.ViewModels
@model LoginViewModel
@{
	ViewBag.Title = "Панель входа";
}

<div>
	<a class="hiddenanchor" id="signup"></a>
	<a class="hiddenanchor" id="signin"></a>

	<div class="login_wrapper">
		<div class="animate form login_form">
			<section class="login_content">
				@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
				{  
					@Html.AntiForgeryToken()
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<h1>@ViewBag.Title</h1>
					<div>
						@Html.TextBoxFor(m => m.Login, new { @class = "form-control", @placeholder = "Пользователь", @required="" })
					</div>
					<div>
						@Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Пароль", @required = "" })
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(m => m.RememberMe, new { @class = "flat" })
						@Html.LabelFor(m => m.RememberMe)
					</div>
					<div>
						<div class="checkbox">
							<input type="submit" value="Вход" class="btn btn-default submit" />
							@*<a class="reset_pass" href="#">Lost your password?</a>*@
						</div>
					</div>

					<div class="clearfix"></div>

					<div class="separator">
						@*<p class="change_link">
							New to site?
							<a href="#signup" class="to_register"> Create Account </a>
						</p>*@

						<div class="clearfix"></div>
						<br />

						<div>
							<h1><i class="fa fa-group"></i> <span>СМенеджер</span></h1>
							<p>SManager - The project manager web app by Kupcov K.S. and <a href="https://colorlib.com">Gentelella</a> theme</p>
						</div>
					</div>
				}
			</section>
		</div>
	</div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}