﻿@model MvcInfos.Models.ViewModels.LoginViewModel
<div>
    @using (Ajax.BeginForm("_PartialLoginPage", new { ReturnUrl = ViewBag.ReturnUrl }, new AjaxOptions()
    {
        OnSuccess = string.Format("OnSuccess{0}", "login"),
        OnFailure = string.Format("OnFailure{0}", "login"),
        OnComplete = string.Format("OnComplete{0}", "login"),
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = @String.Format("modalUserAdd_{0}", "login")

    },
                                    htmlAttributes: new { @id = "login_mini_form" })
                                    )
    {
        Html.EnableClientValidation();
        @Html.AntiForgeryToken();

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Выполнить вход" class="btn btn-default" />
            </div>
       </div>
    }
    <script>
        $('#login_mini_form').submit(function() {
       // if ($(this).valid()) { // checks form is valid.
            $('.validation-summary-errors').hide(); // hides it
       // }
    });
    @{
        var functionStart1 = "function " + string.Format("OnComplete{0}(data)", "login");
     }
    @functionStart1{
        console.log("OnComplete - modal");
    }
    @{
        var functionStart2 = "function " + string.Format("OnSuccess{0}(data)", "login");
     }
    @functionStart2{
        console.log("OnSuccess - modal");

        //$.validator.unobtrusive.parse($(data));
        @*var test = @Ajax.ViewData["isValid"].ToString().ToLower();*@
        @*console.log(@Ajax.ViewData["isValid"].ToString().ToLower());*@
        //data.success
        @*if (test) {
            $('#@string.Format("modalUserAdd_{0}", "login")').modal('hide');*@
            @*$('#@string.Format("fio_{0}", "login")').html('@Model.Fio');*@
            //$('#@string.Format("modalUserAdd_{0}", "login")').html("<div><\div>");

        //}

        //alert("OnSuccess");
    }
    @{
             var functionStart3 = "function " + string.Format("OnFailure{0}(data)", "login");
         }
    @functionStart3{
        console.log("fail");
        console.log(data);
        //alert("OnFailure");
    }

    </script>
</div>