﻿
@{
	ViewBag.Title = "Active Directory";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.TitlePage = "Настройка сервера";
	ViewBag.TitlePageSmall = ViewBag.Title;
	ViewBag.UseSearch = false;
}

<div>
	@using (Html.BeginForm(null, null, FormMethod.Post, htmlAttributes: new { @id = "__AjaxAntiForgeryForm" } @*"EditDepartment", "Administration", new { idFirm = Model.idFirm, idDepartment = Model.idDepartment, efd = EnumerableForDelete.Department }*@))
	{
		@Html.AntiForgeryToken()
	}
</div>
@{
	var isUsing = ((bool)ViewData["IsUsingActiveDirectory"]) == true ? "checked" : "";
	string isNotCurrentUser = ((bool)ViewData["IsNotUsingCurrentUser"]) == true ? "checked" : "";
}
<div class="clearfix"></div>
<div class="row">
	<div class="col-md-12 col-xs-12 col-lg-12">
		<div class="x_panel">
			<div class="x_content">
				<div class="row">
					<form class="panel" id="activeDirectoryForm">
						<settings-element class="activeDirectory-settings col-md-12 col-xs-12 col-lg-12">
							<settings-header>
								<label class="activeDirectory-input">Использовать Active Directory: </label>
								<input name="activeDirectory-switch" type="checkbox" class="js-switch" data-toggle="#activeDirectory-main" onchange="settingsPage.changeAd('activeDirectory-switch')" @isUsing/>
							</settings-header>
							<settings-main id="activeDirectory-main" hidden>
								<settings-config>
									<label>Доступный домен Active Directory или локальной машины: </label>
									<div id="availableDomain">@ViewData["IsCurrentServerInDomain"]</div>
								</settings-config>
								<settings-element class="activeDirectory-settings col-md-12 col-xs-12 col-lg-12">
									<settings-header>
										<settings-config>
											<label>Не использовать параметры текущего пользователя: </label>
											<input name="activeDirectory-currentuser" type="checkbox" class="js-switch" data-toggle="#activeDirectory-adminsettings" onchange="settingsPage.changeAd('activeDirectory-currentuser')" @isNotCurrentUser />
										</settings-config>
									</settings-header>
									<settings-main id="activeDirectory-adminsettings" hidden>
										<div class="form-group">
											<label class="col-md-3 col-xs-4 col-lg-2" for="activeDirectory-login-admin">Логин администратора: </label>
											<input name="activeDirectory-login-admin" type="text" class="form-control col-md-9 col-xs-8 col-lg-10" id="activeDirectory-login-admin" placeholder="Логин" value="@ViewData["ActiveDirectoryDomainLogin"]">
										</div>
										<div class="form-group">
											<label class="col-md-3 col-xs-4 col-lg-2" for="activeDirectory-pass-admin">Пароль администратора: </label>
											<input name="activeDirectory-pass-admin" type="password" class="form-control col-md-9 col-xs-8 col-lg-10" id="activeDirectory-pass-admin" placeholder="Пароль">
										</div>
										<div>
											<input type="button" class="btn" value="Проверить" id="testAdmin" />
										</div>
									</settings-main>
								</settings-element>
							</settings-main>
						</settings-element>
						<input type="button" class="btn btn-success" value="Сохранить" id="saveAdSettings" />

					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{
	<script>
		$(() => {
			settingsPage.initAD();

			settingsPage.changeAd('activeDirectory-switch');
			settingsPage.changeAd('activeDirectory-currentuser');
		});

	</script>

}