﻿@{
	ViewBag.Title = "Сертификаты";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.TitlePage = "Настройка сервера";
	ViewBag.TitlePageSmall = ViewBag.Title;
	ViewBag.UseSearch = false;
}
<div>
	@using (Html.BeginForm(null, null, FormMethod.Post, htmlAttributes: new { @id = "__AjaxAntiForgeryForm" } @*"EditDepartment", "Administration", new { idFirm = Model.idFirm, idDepartment = Model.idDepartment, efd = EnumerableForDelete.Department }*@))
	{
		@Html.AntiForgeryToken()
	}
</div>
@{
	var newCert = (string)ViewData["cerificateNewEndDate"];
	var oldCert = (string)ViewData["cerificateOldEndDate"];

}
<div class="clearfix"></div>
<div class="row">
	<div class="col-md-12 col-xs-12 col-lg-12">
		<div class="x_panel">
			<div class="x_content">
				<div class="row">
					<form class="panel" id="activeDirectoryForm">
						@if (newCert == null)
						{
							<input type="button" class="btn btn-success" value="Создать самоподписанный сертификат" id="createCertificate" />
						}
						else
						{
							<div> Срок годности нового сертификата: @newCert</div>
							if (oldCert != null)
							{

								<div> Срок годности старого сертификата: @oldCert</div>
							}
							<input type="button" class="btn btn-success" value="Обновить сертификат" id="createCertificate" />
						}
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{

	<script type="text/javascript">
		$(() => {
			settingsPage.createCertificate();


		});
	</script>
}