﻿
@{
	ViewBag.Title = "Хостинг файлов";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.TitlePage = "Настройка сервера";
	ViewBag.TitlePageSmall = "Хостинг файлов";
	ViewBag.UseSearch = true;
	
}



@section styles{
@Html.Raw(ViewData["plugins-style"])
	}
<div>
	@using (Html.BeginForm(null, null, FormMethod.Post, htmlAttributes: new { @id = "__AjaxAntiForgeryForm" } @*"EditDepartment", "Administration", new { idFirm = Model.idFirm, idDepartment = Model.idDepartment, efd = EnumerableForDelete.Department }*@))
	{
		@Html.AntiForgeryToken()
	}
</div>





<div class="x_panel">
	<div class="project-control">
		<div class="buttons-left">
			@*<span class="projects">
					<button type="button" class="btn btn-default button-selector" data-text="Не выбран проект">
						Не выбран проект
					</button>
					<span class="selector" id="selectorId">

					</span>
				</span>*@
			<button id="addHostButton" type="button" class="btn btn-success" data-text="Добавить хост">
				Добавить хост
			</button>
			@*<span>
					<label data-text="Задачи для:">
						Задачи для:
					</label>
				</span>*@
			@* @Html.ActionLink("Добавить задание в *", "AddNewTask", new { @idFirm = ViewData["idFirm"] }, new { @class = "btn btn-success" })*@
		</div>
		@*<div class="buttons-right">
				<div class="btn-group" data-toggle="buttons-radio">
					<button type="button" class="btn btn-default" link="True">Текущие</button>
					<button type="button" class="btn btn-default" link="False">Законченные</button>
					<button type="button" class="btn btn-default" link="null">Все</button>
				</div>
			</div>*@
	</div>
</div>
<div class="clearfix"></div>
<div class="row">
	<div class="col-md-12">
		<div class="x_panel">
			<div class="x_content">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						Если нет никаких подключений, то данный сервер сам является файловым хостингом. Файлы хранятся в папке <code>LocaleTempFiles</code> в IIS.<br />
						Требуется настроить пересылку!

					</div>

					<div class="col-md-12 col-sm-12 col-xs-12">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>
										По умолчанию
									</th>
									<th>
										Наименование
									</th>
									<th>
										Короткая информация
									</th>
									<th>
										Управление
									</th>
								</tr>
							</thead>

							<tbody id="hostsBody"></tbody>

						</table>
						<button type="button" class="btn btn-primary" button-type="save">Сохранить</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section modals{

	@using (Html.BeginForm(null, null, FormMethod.Post, htmlAttributes: new { @id = "__AjaxAntiForgeryForm" }))
	{
		@Html.AntiForgeryToken()
	}
	<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				@*<form id="new-host">*@
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">
							Новый хост <small></small>
						</h4>
					</div>
					<div class="modal-body">
						<div class="form-horizontal form-label-left">
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="host-theme">
									Тип подключения <span class="required">*</span>
								</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									@Html.Raw(ViewData["plugins"])
								</div>
							</div>
							<form>

							</form>
							@*<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="host-theme">
									Название <span class="required">*</span>
								</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<input type="text" id="host-name" required class="form-control col-md-12 col-xs-12">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="host-end-date">
									Адрес загрузчика <span class="required">*</span>
								</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<input type="text" id="host-uploaderurl" required class="form-control col-md-12 col-xs-12">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="host-description">
									Логин
								</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<input type="text" id="host-login" class="form-control col-md-12 col-xs-12">
								</div>
							</div>


							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="host-priority">
									Пароль
								</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<input type="password" id="host-password" class="form-control col-md-12 col-xs-12">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="host-priority">
									Повторить пароль
								</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<input type="password" id="host-repeatpassword" class="form-control col-md-12 col-xs-12">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="host-priority">
									Токен
								</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<input type="password" id="host-token" class="form-control col-md-12 col-xs-12">
								</div>
							</div>*@
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
						<button type="button" class="btn btn-primary" button-type="submit">Добавить</button>
					</div>
				@*</form>*@
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
}



@section scripts{
	<script type="text/javascript">
		$(() => {
			settingsPage.setFormsCollection(@Html.Raw(Json.Encode(ViewData["plugins-forms"])));
			settingsPage.initFileHostings();
			settingsPage.pluginInit();
		});
	</script>
}
