﻿@using MvcInfos.Models.ViewModels;
@using MvcInfos.Entities;
@model CreateProjectModel
@{
    ViewBag.Title = "Добавление проекта в базу";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/ProjectManager/_LayoutProjectManager.cshtml";

    ViewBag.TitlePage = "Проекты";
    ViewBag.TitlePageSmall = "Добавление проекта";
    ViewBag.UseSearch = true;

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-3 col-xs-3" })
            <div class="col-md-4 col-xs-4">
                @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectCod, htmlAttributes: new { @class = "control-label col-md-3 col-xs-3" })
            <div class="col-md-4 col-xs-4">
                @Html.EditorFor(model => model.ProjectCod, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProjectCod, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectStartDate, htmlAttributes: new { @class = "control-label col-md-3 col-xs-3" })
            <div class="col-xs-4 col-lg-2">
                <div class='input-group date' id='datetimepicker1Div'>
                    @Html.EditorFor(model => model.ProjectStartDate, new { htmlAttributes = new { @class = "form-control", @id = "datetimepicker1" } })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar" />
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.ProjectStartDate, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PlannedFinishDate, htmlAttributes: new { @class = "control-label col-md-3 col-xs-3" })
            <div class="col-xs-4 col-lg-2">
                <div class='input-group date' id='datetimepicker2Div'>
                    @Html.EditorFor(model => model.PlannedFinishDate, new { htmlAttributes = new { @class = "form-control", @id = "datetimepicker2" } })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar" />
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.PlannedFinishDate, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(m => m.IdAUser, new { @class = "control-label col-md-3 col-xs-3" })
            <div class="col-md-4 col-xs-4">
                @Html.DropDownListFor(m => m.IdAUser, Model.Items, new { @class = "form-control selectpicker", @id="selectpicker"})                                           
                @Html.ValidationMessageFor(m => m.IdAUser, "Выберите ответственное лицо", new { @class = "text -danger" })
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Создание" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        initSelector('#selectpicker');
		initDatePicker();
		$('#datetimepicker1Div').data("DateTimePicker").date(new Date());
		$('#datetimepicker2Div').data("DateTimePicker").date(new Date());
    })
</script>