﻿@using MvcInfos.Models.ViewModels;
@using MvcInfos.Entities.UserConfigurations
@using MvcInfos.ActiveDirectory.Extensions;
@model _LayoutProject
@{
    ViewBag.Title = "Управление проектами";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsHasAccessRights(EnumerableRoles.administrator_server) || (User.IsHasAccessRights(EnumerableRoles.administrator_firm)) || (User.IsHasAccessRights(EnumerableRoles.manager)))
{
    <h2>Управление проектами</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="well nav">
                    
                    <div id="tree">
                    </div>
                   @* <ul class=" nav nav-pills nav-stacked" id="myTab">*@
                    <ul class="nav list-group"> 
                        @foreach (var item in Model.pmvm)
                        {
                            <li>
                                <a class="list-group-item" id="@string.Format("firm_{0}", item.Firm.IdFirm)" href="#"> @item.Firm.NameFirm<i class="glyphicon glyphicon-chevron-down"> </i></a>
                                <ul class="list-group-item">
                                    <li class="list-group-item">
                                        <a class="list-group-item  @(ViewContext.RouteData.Values["Action"].ToString() == "stats" ? "active" : "")" href="@Url.Action("stats", "ProjectManager", new {@idFirm = item.Firm.IdFirm })">
                                            Статистика
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </li>
                                    @*Проекты*@
                                    <li class="list-group-item">
                                        <a class="list-group-item" id="@string.Format("proj_{0}", item.Firm.IdFirm)" href="#"> Проекты<i class="glyphicon glyphicon-chevron-down"></i></a>
                                        <ul class="list-group-item">

                                            <li class="list-group-item ">
                                                <a class="list-group-item @(ViewContext.RouteData.Values["Action"].ToString() == "CreateProject" ? "active" : "")" href="@Url.Action("CreateProject", "ProjectManager", new {@idFirm = item.Firm.IdFirm })">
                                                    Создание проекта
                                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                                </a>
                                            </li>
                                            @foreach (var item1 in item.Projects)
                                            {
                                                <li class="list-group-item">
                                                    @if (((ViewContext.RequestContext.HttpContext).Request).Params["idProj"] != null)
                                                    {
                                                        <a class="list-group-item @((ViewContext.RouteData.Values["Action"].ToString() == "ViewProject")&(((ViewContext.RequestContext.HttpContext).Request).Params["idProj"].ToString() == Convert.ToString(item1.ProjectId)) ? "active" : "")" href="@Url.Action("ViewProject", "ProjectManager", new { @idProj = item1.ProjectId, @idFirm = item.Firm.IdFirm })">
                                                            @string.Format("{0}", item1.ProjectName)
                                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="list-group-item @((ViewContext.RouteData.Values["Action"].ToString() == "ViewProject") ? "active" : "")" href="@Url.Action("ViewProject", "ProjectManager", new { @idProj = item1.ProjectId, @idFirm = item.Firm.IdFirm })">
                                                            @string.Format("{0}", item1.ProjectName)
                                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                                        </a>
                                                    }
             
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                                <script>
                                    $('#@string.Format("firm_{0}", item.Firm.IdFirm)').click(
                                        function () {
                                            console.log("firm_");
                                            $('#@string.Format("firm_{0}", item.Firm.IdFirm)').next().toggle();
                                        });
                                    $('#@string.Format("proj_{0}", item.Firm.IdFirm)').click(
                                        function () {
                                            console.log("proj_");
                                            $('#@string.Format("proj_{0}", item.Firm.IdFirm)').next().toggle();
                                        });
                                </script>
                            </li> 
                        }

                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="tab-content">
                            <div>
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{

}


