﻿@model MvcInfos.Models.ViewModels.ViewProject
@{
    ViewBag.Title = "Проект " + Model.КОД;
    Layout = "~/Views/ProjectManager/_LayoutProjectManager.cshtml";
}
@using MvcInfos.Controllers

<h2>Проект: @Model.Название</h2>

<div>
    <div>
        <p>
            <button type="button" class="btn btn-danger" data-toggle="modal" title="Удалить" data-target="@string.Format("#myModalDel_{0}",@Model.id_project)">
                <span class="glyphicon glyphicon-trash" />
            </button>
            <a class="btn btn-danger" href="#" role="button">Удалить</a>
            @*<a class="btn btn-info" href="#" role="button">Редактировать</a>*@
            @Ajax.ActionLink("Редактировать", "_modal_project_edit", "ProjectManager",
           new { @idFirm = ViewData["idFirm"], @idProj = Model.id_project },
           new AjaxOptions
           {
               UpdateTargetId = string.Format("modalProjectEdit_{0}_in", "zxc123zxc"),
               InsertionMode = InsertionMode.Replace,
               HttpMethod = "GET",
               OnSuccess = string.Format("modalProjectEdit_{0}_ShowProducerEditModal", "zxc123zxc")
           },
               htmlAttributes: new { @class = "btn btn-info", @id = "chkOut" })
            @Ajax.ActionLink("Выбрать сотрудников с допуском", "_modal_project_add_user", "ProjectManager", new { @idFirm = ViewData["idFirm"], @idProj = Model.id_project },
               new AjaxOptions
               {
                   UpdateTargetId = string.Format("modalProjectAdd_{0}_in", "zxc123zxc"),
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET",
                   OnSuccess = string.Format("modalProjectAdd_{0}_ShowProducerEditModal", "zxc123zxc")
               },
               htmlAttributes: new { @class = "btn btn-primary", @id = "chkOut" })
        </p>@*glyphicon glyphicon-edit*@
    </div>
    <div class="dropdown ">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Добавить
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
                @Ajax.ActionLink("Договор", "_modal_project_add_dogovor", "ProjectManager", new { @idFirm = ViewData["idFirm"], @idProj = Model.id_project },
    new AjaxOptions
    {
        UpdateTargetId = string.Format("modalProjectAddDogovor_{0}_in", "zxc123zxc"),
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        OnSuccess = string.Format("modalProjectAddDogovor_{0}_ShowProducerEditModal", "zxc123zxc")
    },
    htmlAttributes: new { @id = "chkOut" })
            </li>




            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>


    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.КОД)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.КОД)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Otvetstven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Otvetstven)
        </dd>

        @if (Model.dogovors.Count > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.dogovors)
            </dt>
            <dd>

            </dd>
            foreach (var item in Model.dogovors)
            {
                <dt>

                </dt>
                <dd>
                    @Html.ActionLink(item,"ViewDepartment", new { @idFirm = ViewData["idFirm"], @idProj = Model.id_project, @dogovorName = item })
                </dd>
            }
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.dogovors)
            </dt>
            <dd class="alert alert-danger">
                Нет выполняемых договоров в данный момент
            </dd>


        }
        @if (Model.employes.Count > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.employes)
            </dt>
            foreach (var item in Model.employes)
            {
                <dd>
                    @Html.DisplayFor(model => item)
                </dd>
            }
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.employes)
            </dt>
            <dd class="alert alert-danger">
                Нет сотрудников работающих на данном проекте
            </dd>
        }

    </dl>
</div>


<div>
    <!-- Modal -->
    <div class="modal fade" id="@String.Format("modalProjectAdd_{0}", "zxc123zxc")" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" id="@string.Format("modalProjectAdd_{0}_in","zxc123zxc")">
        </div>
    </div>
</div>

<div>
    <!-- Modal -->
    @*Добавление договора*@
    <div class="modal fade" id="@String.Format("modalProjectAddDogovor_{0}", "zxc123zxc")" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" id="@string.Format("modalProjectAddDogovor_{0}_in","zxc123zxc")">
        </div>
    </div>
</div>
<div>
    <!-- Modal -->
    @*Добавление договора*@
    <div class="modal fade" id="@String.Format("myModalDel_{0}",Model.id_project)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" id="@string.Format("myModalDel_{0}_in",Model.id_project)">
        </div>
    </div>
</div>

@Html.Action("_modal_project_delete", new { idProj = Model.id_project, efd = EnumerableForDelete.Project })
<div>
    <!-- Modal -->
    <div class="modal fade" id="@String.Format("modalProjectEdit_{0}", "zxc123zxc")" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" id="@string.Format("modalProjectEdit_{0}_in","zxc123zxc")">
        </div>
    </div>
</div>
<script>

    @{
        var functionStart3 = "function " + string.Format("modalProjectAddDogovor_{0}_ShowProducerEditModal()", "zxc123zxc");
    }
    @functionStart3{
        console.log("load firm edit");
        $('#@string.Format("modalProjectAddDogovor_{0}", "zxc123zxc")').modal('show');
        $('#@string.Format("modalProjectAddDogovor_{0}", "zxc123zxc")').on('show.bs.modal', function () {
            $('#@string.Format("modalProjectAddDogovor_{0}_in", "zxc123zxc")').focus()
        });
    }


    @{
                var functionStart = "function " + string.Format("modalProjectAdd_{0}_ShowProducerEditModal()", "zxc123zxc");
            }
    @functionStart{
        console.log("load firm edit");
        $('#@string.Format("modalProjectAdd_{0}", "zxc123zxc")').modal('show');
        $('#@string.Format("modalProjectAdd_{0}", "zxc123zxc")').on('show.bs.modal', function () {
            $('#@string.Format("modalProjectAdd_{0}_in", "zxc123zxc")').focus()
        });
    }

    @{
                var functionStart1 = "function " + string.Format("modalProjectEdit_{0}_ShowProducerEditModal()", "zxc123zxc");
            }
    @functionStart1{
        console.log("load firm edit");
        $('#@string.Format("modalProjectEdit_{0}", "zxc123zxc")').modal('show');
        $('#@string.Format("modalProjectEdit_{0}", "zxc123zxc")').on('show.bs.modal', function () {
            $('#@string.Format("modalProjectEdit_{0}_in", "zxc123zxc")').focus()
        });
    }
</script>