﻿@using MvcInfos.Entities.UserConfigurations;
@{
	ViewBag.Title = "Проекты";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.TitlePage = "Проекты";
	ViewBag.TitlePageSmall = ViewData["firmName"];
	ViewBag.UseSearch = true;
}


<div class="x_panel">
	<div class="project-control">
		<div class="buttons-left">
			@Html.ActionLink("Добавить проект", "CreateProject", "ProjectManager", new { @idFirm = ViewData["idFirm"] }, new { @class = "btn btn-success" })
		</div>
		<div class="buttons-right">
			<div class="btn-group" data-toggle="buttons-radio">
				<button type="button" class="btn btn-default" link="True">Текущие</button>
				<button type="button" class="btn btn-default" link="False">Законченные</button>
				<button type="button" class="btn btn-default" link="null">Все</button>
			</div>
		</div>

	</div>


</div>
<div class="clearfix"></div>
<div class="x_panel">
	@if (ViewData["idFirm"] == null)
	{
		<div class="alert alert-danger">
			<strong>Внимание!</strong> Проекты не могут быть показаны, вы не зарегистрировали организацию.
		</div>
	}
	else
	{
		<div id="mainProjectPage">


		</div>
	}
	<!-- end project list -->
</div><!-- /page content -->


@section scripts{

	<script type="text/javascript">
                $(document).ready(function () {
                    if ($(".progress .progress-bar")[0]) {
                        $('.progress .progress-bar').progressbar();
                    }
                    console.log(getParameterByName("isCurrent"));
                    var state = getParameterByName("isCurrent");
                    if (state == "True") {
                        updateRadioButtons($(".btn-group button[link='True']"));
                        loadProjects('mainProjectPage', @ViewData["idFirm"], true);
                    }
                    if (state == null) {
                        updateRadioButtons($(".btn-group button[link='null']"));
                        loadProjects('mainProjectPage', @ViewData["idFirm"], null);
                    }
                    if (state == "False") {
                        updateRadioButtons($(".btn-group button[link='False']"));
                        loadProjects('mainProjectPage', @ViewData["idFirm"], false);
                    }
                    clickOnButtonsRadio(@ViewData["idFirm"]);
                });
	</script>
}