﻿
@{
    ViewBag.Title = "Управление проектом";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TitlePage = "Управление проектом";
    ViewBag.TitlePageSmall = ViewData["projectCode"];
    ViewBag.UseSearch = true;
}
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, htmlAttributes: new { @id = "__AjaxAntiForgeryForm" } @*"EditDepartment", "Administration", new { idFirm = Model.idFirm, idDepartment = Model.idDepartment, efd = EnumerableForDelete.Department }*@))
    {
        @Html.AntiForgeryToken()
    }
</div>
<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="x_panel" id="infoEdit">
			<div class="x_title">
				<h4>
					Основная информация
				</h4>
				<div class="clearfix"></div>
			</div>
			<div class="x_content" id="generalEditInfo">

			</div>
		</div><div class="x_panel" id="emEdit">
			<div class="x_title">
				<h4>
					Задействованные сотрудники
				</h4>
				<div class="btn-group btn-group-xs pull-right" data-toggle="buttons-radio">
					<button type="button" class="btn btn-default" link="True">Текущие</button>
					<button type="button" class="btn btn-default" link="False">Работавшие</button>
					<button type="button" class="btn btn-default" link="null">Все</button>

				</div>
				<div class="clearfix"></div>
			</div>

			<div class="x_content">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="input-group">
						<div class="selectpickerDiv">
							<div class="selectpicker">

							</div>
						</div>

						@*  <input type="text" id="addLayerId" class="form-control" placeholder="Наименование уровня...">*@
						<span class="input-group-btn">
							<button class="btn btn-success" hidden disabled id="emEditAddButton" type="button">Добавить</button>
						</span>
					</div>
				</div>
				<table id="employeeEditTree" class="treeStages table table-hover">
					<thead>
						<tr>
							<th style="width: 40%;">ФИО</th>
							<th>Периоды</th>
							<th style="width: 10%;">Управление</th>
						</tr>
					</thead>
					<tbody>
						<tr id="employeeEdit"></tr>
					</tbody>
				</table>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<button value="Сохранить" disabled id="saveEmployeesId" class="btn btn-success pull-right">
						Сохранить <i class="fa fa-floppy-o"></i>
					</button>
				</div>
			</div>
		</div>

	</div>

	<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h4>
					Наименования уровней проекта
				</h4>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div class="col-md-12 col-sm-12 col-xs-12">Под уровнями проекта подразумевается, уровень 1 - "Стадия", уровень 2 - "Раздел". В зависимости от проекта, в наименвоании уровней возможны изменения. Поэтому перед добавлением основной информации, требуется настроить данное поле.</div>
				<div class="col-md-6 col-sm-9 col-xs-6 pull-right">
					<div class="input-group">
						<input type="text" id="addLayerId" class="form-control" placeholder="Наименование уровня...">
						<span class="input-group-btn">
							<button class="btn btn-success" onclick="projectManager.addLayer()" type="button">Добавить</button>
						</span>
					</div>
				</div>
				<table class="col-md-12 col-sm-12 col-xs-12 table table-hover" id="levelsTable">
					<thead>
						<tr>
							<th style="width:14%;">Глубина</th>
							<th>Наименование</th>
							<th style="width:1%;">Управление</th>
						</tr>
					</thead>
					<tbody id="stepsEditBody">
						<tr id="stepsEdit"></tr>
					</tbody>
				</table>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<button value="Сохранить" disabled id="saveLayersId" class="btn btn-success pull-right">
						Сохранить <i class="fa fa-floppy-o"></i>
					</button>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="row">


    @{
        var addedList = ((List<string>)(ViewData["adddedMessage"]));
    }
    @if (addedList.Count > 0)
    {
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    @if (ViewData.ContainsKey("layers")){
                        <h4>
                            @ViewData["layers"]
                        </h4>
                    }
                    else
                    {
                        <h4>
                            Этапы
                        </h4>
                    }
                    <button value="Добавить" id="addStageId" class="btn btn-success btn-xs pull-right">
                        @addedList[0] <i class="fa fa-plus"></i>
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="stagesEditTree" class="treeStages table table-hover">
                        <thead>
                            <tr>
                                <th>Код</th>
                                <th>Наименование</th>
                                <th>Начало</th>
                                <th>Конец</th>
                                <th>Даты не должны пересекаться</th>
                                <th style="width: 20%">Управление</th>
                            </tr>
                        </thead>
                        <tbody id="stagesEditTreeBody">
                            <tr id="stagesEdit"></tr>
                        </tbody>
                    </table>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <button value="Сохранить" disabled id="saveStagesId" class="btn btn-success pull-right">
                            Сохранить <i class="fa fa-floppy-o"></i>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    }

</div>

@section scripts{
	<script>
		$(function () {   
			projectManager.setIds(@ViewData["idFirm"], @ViewData["idProject"]);
			projectManager.loadUsers();
			projectManager.initEditProject('generalEditInfo');
			projectManager.initEditLayers('stepsEdit');
			projectManager.initEditStages('stagesEdit');
			projectManager.initEditEmployee('employeeEdit');
        
       
		});
	</script>
}