﻿@using MvcInfos.Models.ViewModels;
@model StatsModel
@{
    ViewBag.Title = "Статистика";
    Layout = "~/Views/ProjectManager/_LayoutProjectManager.cshtml";
}

@foreach (var item in Model.pmvm)
{
    <h3>@item.Firm.NameFirm</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge">@item.ColVoPrj</span>
            Всего проектов:
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge">@item.ColVoPrjDost</span>
            Всего доступно проектов:
        </li>
    </ul>
}
@*<h3>Всего проектов: <span class="label label-default">@Model.col_vo_prj</span></h3>*@
