﻿@model MvcInfos.Models.ViewModels.CViewDogovor
@{
    ViewBag.Title = "ViewDepartment";
    Layout = "~/Views/ProjectManager/_LayoutProjectManager.cshtml";
}

<h2>ViewDepartment</h2>

<div>

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.NameContract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameContract)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Firm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firm)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>

        @if (Model.FIOs.Count > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.FIOs)
            </dt>
            <dd>

            </dd>
            foreach (var item in Model.FIOs)
            {
                <dt>
                    
                </dt>
                <dd>
                   @Html.DisplayText(string.Format("{0}|{1}|{2}", item.FIO, item.EMail, item.PhoneNumber))
                </dd>
            }
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.FIOs)
            </dt>
            <dd class="alert alert-danger">
                Нет контактных лиц
            </dd>


        }

    </dl>
</div>