﻿
@using MvcInfos.Models.ViewModels;
@model CModalAddDogovor

<div class="modal-dialog" role="document" id="@string.Format("modalProjectAddDogovor_{0}_in", "zxc123zxc")">
    @using (Ajax.BeginForm("_modal_project_add_dogovor",
        new
        {
            @idFirm = ViewData["idFirm"],
            @idProj = ViewData["idProj"]
        },
        new AjaxOptions
        {
            OnSuccess = string.Format("OnSuccess{0}", "zxc123zxc"),
            OnFailure = string.Format("OnFailure{0}", "zxc123zxc"),
            OnComplete = string.Format("OnComplete{0}", "zxc123zxc"),
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = string.Format("modalProjectAddDogovor_{0}", "zxc123zxc")
            //UpdateTargetId = string.Format("modalUserAdd_{0}_in", "zxc123zxc")
        }, htmlAttributes: new { @id = "form_id", @class = "form-horizontal" })
        )
    {
        <div class="modal-content">
            @{
                Html.EnableClientValidation();
            }
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Добавление договора</h4>
            </div>
            <div class="modal-body" id="@string.Format("ipd_ajax_beginform_{0}", "zzz")">
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Firm, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.Firm, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Firm, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Family_people, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Family_people, new { htmlAttributes = new { @class = "form-control", @placeholder = "Фамилия" } })
                                @Html.ValidationMessageFor(model => model.Family_people, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_people, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Name_people, new { htmlAttributes = new { @class = "form-control", @placeholder = "Имя" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Middlename_people, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Middlename_people, new { htmlAttributes = new { @class = "form-control", @placeholder = "Отчество" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
            
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EMail, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Cena, htmlAttributes: new { @class = "control-label col-md-4", })
                    @*<label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>*@
                    <div class="col-md-5">
                        <div class="input-group">
                            @*<div class="input-group-addon">$</div>*@
                            @Html.EditorFor(model => model.Cena, new { htmlAttributes = new { @class = "form-control", @placeholder = "Стоимость", @id = "exampleInputAmount" } })

                            @*<input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">*@
                            <div class="input-group-addon">Br</div>
                        </div>
                        @Html.ValidationMessageFor(model => model.Cena, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ДатаЗаключенияКонтракта, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-5">
                        <div class='input-group date' id='@string.Format("datetimepicker_{0}", "zzz")'>
                            @Html.EditorFor(model => model.ДатаЗаключенияКонтракта, new { htmlAttributes = new { @class = "form-control", @id = string.Format("datetimepicker2_{0}_input", "zzz") } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar" />
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.ДатаЗаключенияКонтракта, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProjectStartDate, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-5">
                        <div class='input-group date' id='@string.Format("datetimepicker2_{0}", "zzz")'>
                            @Html.EditorFor(model => model.ProjectStartDate, new { htmlAttributes = new { @class = "form-control", @id = string.Format("datetimepicker2_{0}_input", "zzz") } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar" />
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.ProjectStartDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PlannedFinishDate, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-5">
                        <div class='input-group date' id='@string.Format("datetimepicker_{0}", "zzz")'>
                            @Html.EditorFor(model => model.PlannedFinishDate, new { htmlAttributes = new { @class = "form-control", @id = string.Format("datetimepicker2_{0}_input", "zzz") } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar" />
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.PlannedFinishDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Применить" class="btn btn-success" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
                }

</div>

<script>
    //$(function () {
    //    $jQval.unobtrusive.parse(document);
    //});
    $('#id_p').click(function(e){
        console.log(e);
    })


    $(document).ready(function () {
        var token = [];
        var engine;
        $.get("@Url.Action("AutocompleteFirm", "Administration")", function (response) {
            $.each(response.data, function (i, v) {
                token.push({ value: v });
                console.log("v->");
                console.log(v);
            });
            engine = new Bloodhound({
                local: token,
                datumTokenizer: function (d) {
                    console.log("d.value->");
                    console.log(d.value);
                    return Bloodhound.tokenizers.whitespace(d.value);
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace

            });
            engine.initialize();
            console.log("token-->");
            console.log(token);
            $('#@string.Format("zzz_firm_{0}", "zxc123zxc")').on('tokenfield:createtoken', function (e) {
                var data = e.attrs.value.split('|')
                e.attrs.value = data[1] || data[0]
                e.attrs.label = data[1] ? data[0] + ' (' + data[1] + ')' : data[0]
            }).on('tokenfield:createdtoken', function (e) {
                var re = /\S+\S+\.\S+/
                var valid = re.test(e.attrs.value)
                if (!valid) {
                    $(e.relatedTarget).addClass('invalid')
                }
            }).on('tokenfield:edittoken', function (e) {
                if (e.attrs.label !== e.attrs.value) {
                    var label = e.attrs.label.split(' (')
                    e.attrs.value = label[0] + '|' + e.attrs.value
                }
            }).on('tokenfield:removedtoken', function (e) {
            }).tokenfield({
                typeahead: [null, { source: engine.ttAdapter() }]
            });
        });
    });
</script>

<script>
    $('#form_id').submit(function() {
        // if ($(this).valid()) { // checks form is valid.
        $('.validation-summary-errors').hide(); // hides it
        // }
    });
    @{
        var functionStart1 = "function " + string.Format("OnComplete{0}(data)", "zxc123zxc");
     }
    @functionStart1{
        console.log("OnComplete - modal");
    }
    @{
        var functionStart2 = "function " + string.Format("OnSuccess{0}(data)", "zxc123zxc");
     }
    @functionStart2{
        console.log("OnSuccess - modal");

        //$.validator.unobtrusive.parse($(data));
        var test = @Ajax.ViewData["isValid"].ToString().ToLower();
        console.log(@Ajax.ViewData["isValid"].ToString().ToLower());
        //data.success
        if (test) {
            $('#@string.Format("modalProjectAddDogovor_{0}", "zxc123zxc")').modal('hide');
            @*$('#@string.Format("fio_{0}", "zxc123zxc")').html('@Model.Fio');*@
            $('#@string.Format("modalProjectAddDogovor_{0}", "zxc123zxc")').html("<div><\div>");

        }

        //alert("OnSuccess");
    }
    @{
             var functionStart3 = "function " + string.Format("OnFailure{0}(data)", "zxc123zxc");
         }
    @functionStart3{
        console.log("fail");
        console.log(data);
        //alert("OnFailure");
    }

</script>
@*<script>
        $.validator.unobtrusive.parse('#form_id'); // 'form_id' - id новой формы
    </script>*@




