﻿@using MvcInfos.Models.ViewModels;
@model CreateProjectModal

<div class="modal-dialog" role="document" id="@string.Format("modalProjectEdit_{0}_in", "zxc123zxc")">
    @using (Ajax.BeginForm("_modal_project_edit", new
    {
        @idFirm = ViewData["idFirm"],
        @idProj = ViewData["idProj"]
    },
                                new AjaxOptions
                                {
                                    OnSuccess = string.Format("OnSuccess{0}", "zxc123zxc"),
                                    OnFailure = string.Format("OnFailure{0}", "zxc123zxc"),
                                    OnComplete = string.Format("OnComplete{0}", "zxc123zxc"),
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "POST",
                                    UpdateTargetId = @String.Format("modalProjectEdit_{0}", "zxc123zxc")
                                    //UpdateTargetId = string.Format("modalUserAdd_{0}_in", "zxc123zxc")
                                }, htmlAttributes: new { @id = "form_id", @class = "form-horizontal" })
                                    )
    {
        <div class="modal-content">
            @{
                Html.EnableClientValidation();
            }
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Редактирование проекта @Model.ProjectName </h4>
            </div>
            <div class="modal-body" id="@string.Format("ipd_ajax_beginform_{0}", "zzz")">
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.project_cod, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.project_cod, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.project_cod, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProjectStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        <div class='input-group date' id='@string.Format("datetimepicker2_{0}", "zzz")'>
                            @Html.EditorFor(model => model.ProjectStartDate, new { htmlAttributes = new { @class = "form-control", @id = string.Format("datetimepicker2_{0}_input", "zzz") } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar" />
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.ProjectStartDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PlannedFinishDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        <div class='input-group date' id='@string.Format("datetimepicker_{0}", "zzz")'>
                            @Html.EditorFor(model => model.PlannedFinishDate, new { htmlAttributes = new { @class = "form-control", @id = string.Format("datetimepicker2_{0}_input", "zzz") } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar" />
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.PlannedFinishDate, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(m => m.idAUser, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.idAUser, Model.Items, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.idAUser, "Выберите права доступа", new { @class = "text -danger" })
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <input type="submit" value="Применить" class="btn btn-success" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
                }

</div>

<script>
    //$(function () {
    //    $jQval.unobtrusive.parse(document);
    //});
    $('#id_p').click(function(e){
        console.log(e);
    })


    $(document).ready(function () {
        var token = [];
        var engine;
        $.get("@Url.Action("AutocompleteFirm", "Administration")", function (response) {
            $.each(response.data, function (i, v) {
                token.push({ value: v });
                console.log("v->");
                console.log(v);
            });
            engine = new Bloodhound({
                local: token,
                datumTokenizer: function (d) {
                    console.log("d.value->");
                    console.log(d.value);
                    return Bloodhound.tokenizers.whitespace(d.value);
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace

            });
            engine.initialize();
            console.log("token-->");
            console.log(token);
            $('#@string.Format("zzz_firm_{0}", "zxc123zxc")').on('tokenfield:createtoken', function (e) {
                var data = e.attrs.value.split('|')
                e.attrs.value = data[1] || data[0]
                e.attrs.label = data[1] ? data[0] + ' (' + data[1] + ')' : data[0]
            }).on('tokenfield:createdtoken', function (e) {
                var re = /\S+\S+\.\S+/
                var valid = re.test(e.attrs.value)
                if (!valid) {
                    $(e.relatedTarget).addClass('invalid')
                }
            }).on('tokenfield:edittoken', function (e) {
                if (e.attrs.label !== e.attrs.value) {
                    var label = e.attrs.label.split(' (')
                    e.attrs.value = label[0] + '|' + e.attrs.value
                }
            }).on('tokenfield:removedtoken', function (e) {
            }).tokenfield({
                typeahead: [null, { source: engine.ttAdapter() }]
            });
        });
    });
</script>

<script>
    $('#form_id').submit(function() {
        // if ($(this).valid()) { // checks form is valid.
        $('.validation-summary-errors').hide(); // hides it
        // }
    });
    @{
        var functionStart1 = "function " + string.Format("OnComplete{0}(data)", "zxc123zxc");
     }
    @functionStart1{
        console.log("OnComplete - modal");
    }
    @{
        var functionStart2 = "function " + string.Format("OnSuccess{0}(data)", "zxc123zxc");
     }
    @functionStart2{
        console.log("OnSuccess - modal");

        //$.validator.unobtrusive.parse($(data));
        var test = @Ajax.ViewData["isValid"].ToString().ToLower();
        console.log(@Ajax.ViewData["isValid"].ToString().ToLower());
        //data.success
        if (test) {
            $('#@string.Format("modalProjectEdit_{0}", "zxc123zxc")').modal('hide');
            @*$('#@string.Format("fio_{0}", "zxc123zxc")').html('@Model.Fio');*@
            $('#@string.Format("modalProjectEdit_{0}", "zxc123zxc")').html("<div><\div>");

        }

        //alert("OnSuccess");
    }
    @{
             var functionStart3 = "function " + string.Format("OnFailure{0}(data)", "zxc123zxc");
         }
    @functionStart3{
        console.log("fail");
        console.log(data);
        //alert("OnFailure");
    }

</script>
@*<script>
        $.validator.unobtrusive.parse('#form_id'); // 'form_id' - id новой формы
    </script>*@




