﻿@model MvcInfos.Models.ViewModels.ViewProject
@using MvcInfos.Controllers
<div>
    <!-- Modal -->
    <div class="modal fade" id="@String.Format("myModalDel_{0}", Model.id_project)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Удалить</h4>
                </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Название)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Название)
                        </dd>   
                    </dl>
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <button type="button" class="btn btn-success" data-dismiss="modal">Нет!</button>
                        <a href="@Url.Action("Delete", new { id_user_to_delete = Model.id_project, efd = EnumerableForDelete.Project })" class="btn btn-danger">
                            Да!
                        </a>
                    }

                </div>
            </div>
        </div>
    </div>

</div>

