﻿@model  MvcInfos.Models.ViewModels.CModalVyb

<div class="modal-dialog" role="document" id="@string.Format("modalProjectAdd_{0}_in", "zxc123zxc")">
    @using (Ajax.BeginForm("_modal_project_add_user", new { @idFirm = ViewData["idFirm"], @idProj = ViewData["idProj"], @users = ViewData["peopleinfirm"] as string
            },
                        new AjaxOptions
                        {
                            OnSuccess = string.Format("OnSuccess{0}", "zxc123zxc"),
                            OnFailure = string.Format("OnFailure{0}", "zxc123zxc"),
                            OnComplete = string.Format("OnComplete{0}", "zxc123zxc"),
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "POST",
                            UpdateTargetId = @String.Format("modalProjectAdd_{0}", "zxc123zxc")
                            //UpdateTargetId = string.Format("modalUserAdd_{0}_in", "zxc123zxc")
                        }, htmlAttributes: new { @id = "form_id" })
                            )
    {
        <div class="modal-content">
            @{
                Html.EnableClientValidation();
            }
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>  
                <h4 class="modal-title" id="myModalLabel">Выбор ответственного лица </h4>
            </div>
            <div class="modal-body" id="@string.Format("ipd_ajax_beginform_{0}", "zzz")">
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("ФИО")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>  
                        @Html.ValidationMessageFor(model => model.le, "", new { @class = "text-danger" })
                        @for (int i = 0; i < Model.le.Count; i++)
                        {

                    
                      

                            Model.le[i].FIO = Model.le[i].FIO;
                            Model.le[i].idAUser = Model.le[i].idAUser;
                            if (Model.le[i].isRukov == true)
                            {
                                <tr class="success">
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.le[i].FIO)
                                        @Html.ValidationMessageFor(model => Model.le[i].FIO, "", new { @class = "text-danger" })
                                        @Html.ValidationMessageFor(model => Model.le[i].idAUser, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(modelItem => modelItem.le[i].isUsing, new { @disabled = "disabled" })
                                        @Html.ValidationMessageFor(model => Model.le[i].isRukov, "", new { @class = "text-danger" })
                                        @Html.ValidationMessageFor(model => Model.le[i].isUsing, "", new { @class = "text-danger" })
                                    </td>

                                </tr>
                            }
                            else
                            {
                                <tr>                                  
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem.le[i].FIO)    
                                        @Html.ValidationMessageFor(model => Model.le[i].FIO, "", new { @class = "text-danger" })
                                        @Html.ValidationMessageFor(model => Model.le[i].idAUser, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(modelItem => modelItem.le[i].isUsing)     
                                        @Html.ValidationMessageFor(model => Model.le[i].isRukov, "", new { @class = "text-danger" })
                                        @Html.ValidationMessageFor(model => Model.le[i].isUsing, "", new { @class = "text-danger" })                         
                                    </td>

                                </tr> 
                            }


                        }    
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <input type="submit" value="Применить" class="btn btn-success" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
                }

</div>

<script>
    //$(function () {
    //    $jQval.unobtrusive.parse(document);
    //});
    $('#id_p').click(function(e){
        console.log(e);
    })


    $(document).ready(function () {
        var token = [];
        var engine;
        $.get("@Url.Action("AutocompleteFirm", "Administration")", function (response) {
            $.each(response.data, function (i, v) {
                token.push({ value: v });
                console.log("v->");
                console.log(v);
            });
            engine = new Bloodhound({
                local: token,
                datumTokenizer: function (d) {
                    console.log("d.value->");
                    console.log(d.value);
                    return Bloodhound.tokenizers.whitespace(d.value);
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace

            });
            engine.initialize();
            console.log("token-->");
            console.log(token);
            $('#@string.Format("zzz_firm_{0}", "zxc123zxc")').on('tokenfield:createtoken', function (e) {
                var data = e.attrs.value.split('|')
                e.attrs.value = data[1] || data[0]
                e.attrs.label = data[1] ? data[0] + ' (' + data[1] + ')' : data[0]
            }).on('tokenfield:createdtoken', function (e) {
                var re = /\S+\S+\.\S+/
                var valid = re.test(e.attrs.value)
                if (!valid) {
                    $(e.relatedTarget).addClass('invalid')
                }
            }).on('tokenfield:edittoken', function (e) {
                if (e.attrs.label !== e.attrs.value) {
                    var label = e.attrs.label.split(' (')
                    e.attrs.value = label[0] + '|' + e.attrs.value
                }
            }).on('tokenfield:removedtoken', function (e) {
            }).tokenfield({
                typeahead: [null, { source: engine.ttAdapter() }]
            });
        });
    });
</script>

<script>
    $('#form_id').submit(function() {
        // if ($(this).valid()) { // checks form is valid.
        $('.validation-summary-errors').hide(); // hides it
        // }
    });
    @{
        var functionStart1 = "function " + string.Format("OnComplete{0}(data)", "zxc123zxc");
     }
    @functionStart1{
        console.log("OnComplete - modal");
    }
    @{
        var functionStart2 = "function " + string.Format("OnSuccess{0}(data)", "zxc123zxc");
     }
    @functionStart2{
        console.log("OnSuccess - modal");

        //$.validator.unobtrusive.parse($(data));
        var test = @Ajax.ViewData["isValid"].ToString().ToLower();
        console.log(@Ajax.ViewData["isValid"].ToString().ToLower());
        //data.success
        if (test) {
            $('#@string.Format("modalProjectAdd_{0}", "zxc123zxc")').modal('hide');
            @*$('#@string.Format("fio_{0}", "zxc123zxc")').html('@Model.Fio');*@
            $('#@string.Format("modalProjectAdd_{0}", "zxc123zxc")').html("<div><\div>");
        }

        //alert("OnSuccess");
    }
    @{
             var functionStart3 = "function " + string.Format("OnFailure{0}(data)", "zxc123zxc");
         }
    @functionStart3{
        console.log("fail");
        console.log(data);
        //alert("OnFailure");
    }

</script>
@*<script>
        $.validator.unobtrusive.parse('#form_id'); // 'form_id' - id новой формы
    </script>*@


