﻿@model MvcInfos.Models.ViewModels.Mail.NewMailVewModel

<div class="form-horizontal">
	@using (Html.BeginForm(new { @idFirm = ViewData["idFirm"] }))
			{
		@Html.AntiForgeryToken()



		<div class="panel panel-default">

			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="form-group">
				@Html.LabelFor(model => model.DocumentID, htmlAttributes: new { @class = "control-label col-md-3 col-xs-3" })
				<div class="col-md-4 col-xs-4">
					@Html.EditorFor(model => model.DocumentID, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.DocumentID, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.RegisterDate, htmlAttributes: new { @class = "control-label col-md-3 col-xs-3" })
				<div class="col-xs-4 col-lg-2">
					<div class='input-group date' id='datetimepicker1Div'>
						@Html.EditorFor(model => model.RegisterDate, new { htmlAttributes = new { @class = "form-control", @id = "datetimepicker1" } })
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar" />
						</span>
					</div>
					@Html.ValidationMessageFor(model => model.RegisterDate, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group" id="customerDropdown">
				@Html.LabelFor(m => m.Custumer, new { @class = "control-label col-md-3 col-xs-3" })
				<div class="col-md-4 col-xs-4">
					@Html.TextBoxFor(m => m.Custumer, new { @class = "form-control typeahead", @type = "text", @placeholder = "От кого" })
					@*@Html.DropDownListFor(m => m.CustumerId, Model.Customers, new { @class = "form-control selectpicker", @multiple = false, @id = "selectpickerCustomers" })*@
					@Html.ValidationMessageFor(m => m.Custumer, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.NumberDocument, htmlAttributes: new { @class = "control-label col-md-3 col-xs-3" })
				<div class="col-md-4 col-xs-4">
					@Html.EditorFor(model => model.NumberDocument, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.NumberDocument, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.DocumentDate, htmlAttributes: new { @class = "control-label col-md-3 col-xs-3" })
				<div class="col-xs-4 col-lg-2">
					<div class='input-group date' id='datetimepicker2Div'>
						@Html.EditorFor(model => model.DocumentDate, new { htmlAttributes = new { @class = "form-control", @id = "datetimepicker2" } })
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar" />
						</span>
					</div>
					@Html.ValidationMessageFor(model => model.DocumentDate, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3 col-xs-3" })
				<div class="col-md-4 col-xs-4">
					@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.FinishDate, htmlAttributes: new { @class = "control-label col-md-3 col-xs-3" })
				<div class="col-xs-4 col-lg-2">
					<div class='input-group date' id='datetimepicker3Div'>
						@Html.EditorFor(model => model.FinishDate, new { htmlAttributes = new { @class = "form-control", @id = "datetimepicker3" } })
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar" />
						</span>
					</div>
					@Html.ValidationMessageFor(model => model.FinishDate, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group" id="projectDropdown">
				@Html.LabelFor(m => m.ProjectCode, new { @class = "control-label col-md-3 col-xs-3" })
				<div class="col-md-4 col-xs-4">
					@Html.DropDownListFor(m => m.ProjectCode, Model.Projects, new
			   {
				   @class = "form-control selectpicker"@*, @multiple = false*@,
				   @id = "selectpicker"
			   })
					@Html.ValidationMessageFor(m => m.ProjectCode, "Проект. 0 или 1", new { @class = "text-danger" })
				</div>
			</div>
		</div>


		<div class="panel panel-default">
			<div class="panel-body">
				<div class="form-group" id="resolutionDropdown">
					@Html.LabelFor(m => m.Resolution, new { @class = "control-label col-md-3 col-xs-3" })
					<div class="col-md-4 col-xs-4">
						@Html.DropDownListFor(m => m.Resolution, Model.Employees, new { @class = "form-control selectpicker", @multiple = false, @id = "selectpicker" })
						@Html.ValidationMessageFor(m => m.Resolution, "Резолюция", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-3 col-xs-3" })
					<div class="col-md-4 col-xs-4">
						@Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>
		</div>


		<div class="form-group">
			<label class="control-label col-md-3 col-xs-3">Файлы:</label>
			<div class="col-md-4 col-xs-4">
				@Html.TextBoxFor(model => model.GroupFiles, new { @type = "hidden", @role = "uploadcare-uploader", @name = "my_file" })
				@*<input type="hidden" role="uploadcare-uploader" name="my_file" />*@
			</div>
		</div>





							<settings-element class="notify-settings col-md-12 col-xs-12 col-lg-12">
								<settings-header>
									<label class="activeDirectory-input control-label col-md-3 col-xs-3">Использовать напоминание: </label>
									@Html.CheckBoxFor(model => model.IsNotify, new { @name = "IsNotify", @class = "js-switch", @data_toggle = "#activeDirectory-main", @onchange = "settingsPage.changeAd('IsNotify')" })
									@*<input name="activeDirectory-switch" type="checkbox" class="js-switch" data-toggle="#activeDirectory-main" onchange="settingsPage.changeAd('activeDirectory-switch')" @Model.IsNotify />*@
								</settings-header>
								<settings-main id="activeDirectory-main" hidden>
									<div class="form-group">
										@Html.LabelFor(model => model.NotifyTime, htmlAttributes: new { @class = "control-label col-md-3 col-xs-3" })
										<div class="col-md-4 col-xs-4">
											@Html.DropDownListFor(m => m.NotifyTime, Model.NotifyTimes, new
									   {
										   @class = "form-control selectpicker", @*@multiple = false,*@ @id = "selectpicker1"
									   })
											@Html.ValidationMessageFor(m => m.NotifyTime, "", new { @class = "text-danger" })
										</div>
									</div>
								</settings-main>
							</settings-element>

							<div class="form-group">

								<input type="submit" value="Назначить" class="btn btn-info" />
							</div>
	}
</div>