﻿@using MvcInfos.Models.ViewModels
@using MvcInfos.ActiveDirectory.Extensions;
@using MvcInfos.Entities.UserConfigurations
@model ICollection<AdministrationFirmViewModels>
@{
    // ViewBag.Title = "_admins_firms_emploees";
    Layout = "~/Views/Administration/Admin/Admins/admins_firm/_LayoutAdminFirm.cshtml";
}
@if (User.IsHasAccessRights(EnumerableRoles.administrator_server) || User.IsHasAccessRights(EnumerableRoles.administrator_firm))
{
    <div id="_admins_firms_emploees" class="tab-pane fade in active">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <p class="lead">@item.Name </p>
                Html.Partial("_Employee", item.AdministrationEmployeesViewModels);
            }
        }
        else
        {
            <div class="alert alert-block">
                @*<button type="button" class="close" data-dismiss="alert">&times;</button>*@
                <h4>Внимание!</h4>
                Вы еще не добавили фирму. Следовательно и работников этой фирмы. Список пуст.
            </div>
        }


    </div>
}
else
{
    <div class="alert alert-danger">
        @*<button type="button" class="close" data-dismiss="alert">&times;</button>*@
        <h4>Ошибка!</h4>
        У вас нет доступа!
    </div>
}
