﻿@using MvcInfos.Models.ViewModels
@using MvcInfos.ActiveDirectory.Extensions;

@using MvcInfos.Entities.UserConfigurations
@model AdministrationDepartmentView
@{
    // ViewBag.Title = "_admins_firms_departments";
    Layout = "~/Views/Administration/Admin/Admins/admins_firm/_LayoutAdminFirm.cshtml";
}
@if (User.IsHasAccessRights(EnumerableRoles.administrator_server) || User.IsHasAccessRights(EnumerableRoles.administrator_firm))
{
    <div id="_admins_firms_departments" class="tab-pane fade in active">
        @if (Model != null)
        {
            <p class="lead">@Model.Name </p>
            Html.RenderAction("_Department", new { firmId = Model.idFirm });
        }
        else
        {
            <div class="alert alert-block">
                <h4>Внимание!</h4>
                Вы еще не добавили фирму, следовательно и отделы. Список пуст..
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-danger">
        @*<button type="button" class="close" data-dismiss="alert">&times;</button>*@
        <h4>Ошибка!</h4>
        У вас нет доступа!
    </div>
}