﻿@model MvcInfos.Models.ViewModels.Statistic.StatisticsViewModel
@{
	ViewBag.Title = "Статистика";
	//  Layout = "~/Views/Administration/_LayoutAdmin.cshtml";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderScripts{
	<script type='text/javascript'>
		window["NOT_INIT_CHART_DOUGHNUT"] = true;
		window["NOT_INIT_FLOT_CHART"] = true;
		window["NOT_INIT_DATERANGEPICKER"] = true;
	</script>
}
<div id="stats" class="tab-pane fade in active">
	<!-- top tiles -->
	<div class="row tile_count">
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-user"></i> Всего пользователей</span>
			<div class="count">@Model.AllUsers</div>
			@*<span class="count_bottom"><i class="green">4% </i> From last Week</span>*@
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-clock-o"></i> Всего организаций</span>
			<div class="count">@Model.AllFirms</div>
			@*<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>*@
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-user"></i> Всего принято писем</span>
			<div class="count green">@Model.AllMails</div>
			@*<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>*@
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-user"></i> Всего писем в работе</span>
			<div class="count">@Model.CurrentMails</div>
			@*<span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>*@
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-user"></i> Всего отвечено писем</span>
			<div class="count">@Model.ClosedMails</div>
			@*<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>*@
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-user"></i> Всего активно уведомлений</span>
			<div class="count">@Model.CurrentResolutions</div>
			@*<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>*@
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="dashboard_graph">

				<div class="row x_title">
					<div class="col-md-6">
						<h3>Реакция сотрудников <small>На уведомления</small></h3>
					</div>
					<div class="col-md-6">
						<div class="col-md-6">
							@Html.DropDownListFor(m => m.Firm, Model.Firms, new { @class = "form-control selectpicker", @id = "selectpicker" })
						</div>
						<div class="col-md-6">
							<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
								<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
								<span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-8 col-sm-8 col-xs-12">
					<div id="chart_plot_01" class="demo-placeholder"></div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 bg-white">
					<div class="x_title">
						<h2>Реакций за указанный период</h2>
						<div class="clearfix"></div>
					</div>
					<div id="dashboard_graph_statistic">
						<div class="col-md-12 col-sm-12 col-xs-6">
							<div>
								<p>Загрузка...</p>
								<div class="">
									<div class="progress progress_sm" style="width: 76%;">
										<div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
									</div>
								</div>
							</div>						
						</div>						
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>

	</div>
	<br />
	<div class="row" id="mailsStatistic">
		@*<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="x_panel tile fixed_height_320 overflow_hidden">
					<div class="x_title">
						<h2>Отношение писем за текущий месяц</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content" id="currentMounth">
						<table class="" style="width:100%">
							<tr>
								<th style="width:37%;">
									<p>За месяц</p>
								</th>
								<th>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
										<p class="">Тип</p>
									</div>
									<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
										<p class="">Процент</p>
									</div>
								</th>
							</tr>
							<tr>
								<td>
									<canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
								</td>
								<td>
									<table class="tile_info">
										<tr>
											<td>
												<p><i class="fa fa-square blue"></i>IOS </p>
											</td>
											<td>30%</td>
										</tr>
										<tr>
											<td>
												<p><i class="fa fa-square green"></i>Android </p>
											</td>
											<td>10%</td>
										</tr>
										<tr>
											<td>
												<p><i class="fa fa-square purple"></i>Blackberry </p>
											</td>
											<td>20%</td>
										</tr>
										<tr>
											<td>
												<p><i class="fa fa-square aero"></i>Symbian </p>
											</td>
											<td>15%</td>
										</tr>
										<tr>
											<td>
												<p><i class="fa fa-square red"></i>Others </p>
											</td>
											<td>30%</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="x_panel tile fixed_height_320 overflow_hidden">
					<div class="x_title">
						<h2>Отношение писем за прошлый месяц</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content" id="lastMonth">
						<table class="" style="width:100%">
							<tr>
								<th style="width:37%;">
									<p>За месяц</p>
								</th>
								<th>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
										<p class="">Тип</p>
									</div>
									<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
										<p class="">Процент</p>
									</div>
								</th>
							</tr>
							<tr>
								<td>
									<canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
								</td>
								<td>
									<table class="tile_info">
										<tr>
											<td>
												<p><i class="fa fa-square blue"></i>IOS </p>
											</td>
											<td>30%</td>
										</tr>
										<tr>
											<td>
												<p><i class="fa fa-square green"></i>Android </p>
											</td>
											<td>10%</td>
										</tr>
										<tr>
											<td>
												<p><i class="fa fa-square purple"></i>Blackberry </p>
											</td>
											<td>20%</td>
										</tr>
										<tr>
											<td>
												<p><i class="fa fa-square aero"></i>Symbian </p>
											</td>
											<td>15%</td>
										</tr>
										<tr>
											<td>
												<p><i class="fa fa-square red"></i>Others </p>
											</td>
											<td>30%</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>*@

		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Погода <small>@ViewData["CityName"]</small></h2>
					@*<ul class="nav navbar-right panel_toolbox">
							<li>
								<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="#">Settings 1</a>
									</li>
									<li>
										<a href="#">Settings 2</a>
									</li>
								</ul>
							</li>
							<li>
								<a class="close-link"><i class="fa fa-close"></i></a>
							</li>
						</ul>*@
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="row">
						<div class="col-sm-12">
							<div class="temperature">
								<b>Monday</b>, 07:30 AM
								<span>F</span>
								<span><b>C</b></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="weather-icon">
								<canvas height="84" width="84" id="partly-cloudy-day"></canvas>
							</div>
						</div>
						<div class="col-sm-8">
							<div class="weather-text">
								<h2>Texas <br><i>Partly Cloudy Day</i></h2>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="weather-text pull-right">
							<h3 class="degrees">23</h3>
						</div>
					</div>

					<div class="clearfix"></div>

					<div class="row weather-days">
						<div class="col-sm-2">
							<div class="daily-weather">
								<h2 class="day">Mon</h2>
								<h3 class="degrees">25</h3>
								<canvas id="clear-day" width="32" height="32"></canvas>
								<h5>15 <i>km/h</i></h5>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="daily-weather">
								<h2 class="day">Tue</h2>
								<h3 class="degrees">25</h3>
								<canvas height="32" width="32" id="rain"></canvas>
								<h5>12 <i>km/h</i></h5>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="daily-weather">
								<h2 class="day">Wed</h2>
								<h3 class="degrees">27</h3>
								<canvas height="32" width="32" id="snow"></canvas>
								<h5>14 <i>km/h</i></h5>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="daily-weather">
								<h2 class="day">Thu</h2>
								<h3 class="degrees">28</h3>
								<canvas height="32" width="32" id="sleet"></canvas>
								<h5>15 <i>km/h</i></h5>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="daily-weather">
								<h2 class="day">Fri</h2>
								<h3 class="degrees">28</h3>
								<canvas height="32" width="32" id="wind"></canvas>
								<h5>11 <i>km/h</i></h5>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="daily-weather">
								<h2 class="day">Sat</h2>
								<h3 class="degrees">26</h3>
								<canvas height="32" width="32" id="cloudy"></canvas>
								<h5>10 <i>km/h</i></h5>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>

@section Scripts{
	<script>
		$(() => {

			loadPlot.initIDs({
				selectPickerSelector: '#selectpicker',
				dateRangeSelector: '#reportrange', plot: {
					plotSelector: '#chart_plot_01',
					dashBoardSelector: '#dashboard_graph_statistic'
				}
			});

			loadCharts.initChartDoughnut([{
				month: new Date().getMonth() - 1,
				year: new Date().getFullYear()
			}, {
				month: new Date().getMonth(),
				year: new Date().getFullYear()
			}]);
		});
	</script>

}