﻿@using MvcInfos.Models.ViewModels;
@model CFirm
@{ 
    ViewBag.TitlePage = Model.Name;
    Layout = "~/Views/Administration/Admin/Admins/_AdminsFirms.cshtml";
}
<div id="firminfo" class="tab-pane fade in active">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#_panel3_department" data-toggle="tab">Отделы</a></li>
        <li><a href="#_panel3_employee" data-toggle="tab">Сотрудники</a></li>
        <li><a href="#_panel3_shrasp" data-toggle="tab">Штатное расписание</a></li>
        <li><a href="#_panel3_subordinate" data-toggle="tab">Подчиненность</a></li>

    </ul>
    <div class="tab-content">
        <div id="_panel3_department" class="tab-pane fade in active">
            <div id="targetReplaceDepartments"><i class="fa fa-spinner fa-spin fa-3x"></i> Загрузка </div>
        </div>
        <div id="_panel3_employee" class="tab-pane fade">

            @if (Model != null)
            {
                <div id="targetReplaceEmployees"> <i class="fa fa-spinner fa-spin fa-3x"></i> Загрузка</div>
            }
            else
            {
                <div class="alert alert-block">
                    <h4>Внимание!</h4>
                    На сервере не зарегистрированно ни одной фирмы.
                </div>
            }
        </div>

        <div id="_panel3_shrasp" class="tab-pane fade">

        </div>
        <div id="_panel3_subordinate" class="tab-pane fade">


        </div>
    </div>
</div>

@section modals{
	<div class="modals">
		<div id="modalReplace">

		</div>

	</div>
	
	}

@section scripts{
	
<script type="text/javascript">
	let pageLoader = new AdministrationFirms(@Model.id_firm);
    $(document).ready(() => {
        var departmentsLoad = '@Url.Action("_Department", new { firmId = Model.id_firm })';
        var employeesLoad = '@Url.Action("_Employee", new { firmId = Model.id_firm })';
		pageLoader.setName(HD.nameof({ pageLoader }));
        pageLoader.loadPartialPage(departmentsLoad, $('#targetReplaceDepartments'), EWhatGet.Department);
        pageLoader.loadPartialPage(employeesLoad, $('#targetReplaceEmployees'), EWhatGet.Employee);
    });
</script>
}