﻿@using MvcInfos.Models.ViewModels
@using MvcInfos.Controllers;

@model IEnumerable<AdministrationFirmViewModels>

@{
	Layout = "~/Views/Administration/Admin/Admins/_AdminsFirms.cshtml";
}

@if (Model != null)
{
	if (Model.Count() == 0)
	{
		<div class="alert alert-block">
			<h4>Внимание!</h4>
			Вы еще не добавили фирму. Список пуст.
		</div>
	}
	else
	{
		<div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th></th>
						<th>
							@Html.DisplayNameFor(m => m.Name)
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@{
						int count = 0;
					}

					@foreach (var item in Model)
					{
						count++;
						//  ~/ Administration / Details
						<tr>
							<td>
								<a href="@Url.Action("_admins_firm_page", new { idFirm = item.IdFirm })" class="btn btn-info">
									<span class="glyphicon glyphicon-arrow-right" />
								</a>
							</td>
							<td id='@string.Format("Name_{0}", item.IdFirm)'>
								@Html.DisplayFor(modelItem => item.Name)
							</td>
							<td>
								<div>
									<button type="button" class="btn btn-primary" data-toggle="modal" title="Редактировать" onclick="@string.Format("openModalEdit({0},'{1}','{2}')", item.IdFirm, item.Name, Url.Action("_modal_firm_edit", "Administration", new { id_firm = item.IdFirm, efd = EnumerableForDelete.User }))">
										<span class="glyphicon glyphicon-edit" />
									</button>
									@Ajax.ActionLink(" ", "_modal_firm_edit", "Administration", new { id_firm = item.IdFirm, efd = EnumerableForDelete.User }, new AjaxOptions { UpdateTargetId = string.Format("modalFirmEdit_{0}_in", item.IdFirm), InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = string.Format("modalFirmEdit_{0}_ShowProducerEditModal", count) }, htmlAttributes: new { @class = "btn btn-primary glyphicon glyphicon-edit", @id = "chkOut" })


									<button type="button" class="btn btn-info" data-toggle="modal" onclick="loadModalInfo(@item.IdFirm)" title="Просмотреть" data-target="@string.Format("#modalFirmView_{0}", item.IdFirm)">
										<span class="glyphicon glyphicon-list-alt" />
									</button>

									<button type="button" class="btn btn-danger" data-toggle="modal" onclick="loadModalRemove(@item.IdFirm, @item.Name, '@Url.Action("Delete", new { id_user_to_delete = item.IdFirm, efd = EnumerableForDelete.Firm })')" title="Удалить" data-target="@string.Format("#modalFirmDel_{0}", item.IdFirm)">
										<span class="glyphicon glyphicon-trash" />
									</button>


									@{
///TODO: Асинхронку сделать для этих методов и вынести в общий.
									}
									@*@Html.Action("_modal_firm_del", new { id_firm = item.idFirm, efd = EnumerableForDelete.Firm })*@


									@*@Html.Action("_modal_firm_edit", new { id_firm = item.idFirm, efd = EnumerableForDelete.Firm })*@


									@Html.Action("_modal_firm_view", new { id_firm = item.IdFirm, efd = EnumerableForDelete.Firm })
									@{
										Html.RenderAction("_modal_firm_del");
									}


									<script>
                                        @{
                                            var functionStart = "function " + string.Format("modalFirmEdit_{0}_ShowProducerEditModal()", count);
                                    }
                                        @functionStart{
                                            console.log("load firm edit")
                                            $('#@string.Format("modalFirmEdit_{0}", item.IdFirm)').modal('show');
                                            $('#@string.Format("modalFirmEdit_{0}", item.IdFirm)').on('show.bs.modal', function () {
                                                $('#@string.Format("modalFirmEdit_{0}_in", item.IdFirm)').focus()
                                            })
                                        }
									</script>


									<div>
										<!-- Modal -->
										<div class="modal fade" id="@string.Format("modalFirmEdit_{0}", item.IdFirm)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
											<div class="modal-dialog" role="document" id="@string.Format("modalFirmEdit_{0}_in", item.IdFirm)">
											</div>
										</div>
									</div>
								</div>
							</td>

						</tr>
	}
				</tbody>
			</table>
		</div>


		<div class="modal fade" id="modalEditFirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel"> </h4>
					</div>
					<div class="modal-body">

						@*    @Html.ValidationSummary()
							@Html.AntiForgeryToken()*@

						<div class="form-horizontal">
							@*@Html.HiddenFor(model => model.idFirm)*@

							<div class="form-group">
								<label class="control-label col-md-5 col-xs-5">
									Наименование организации:
								</label>

								@*@Html.LabelFor(model => model.NameFirm, new { @class = "control-label col-md-5 col-xs-5" })*@
								<div class="col-md-7 col-xs-5">
									<input type="text" id="firmName" class="form-control" />
									@*@Html.EditorFor(model => model.NameFirm, new { htmlAttributes = new { @class = "form-control" } })
										@Html.ValidationMessageFor(model => model.NameFirm, "", new { @class = "text-danger" })*@
								</div>
							</div>
							<div class="form-group" id="directorsDropdown">
							</div>
						</div>

					</div>
					<div class="modal-footer">
						<input type="submit" value="Сохранить изменения" class="btn btn-default" />
						<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
						@*<button type="button" class="btn btn-primary">Save changes</button>*@
					</div>

				</div>
			</div>
		</div>

		<script>
			$(function () {
				console.log("load>>>");
			})
		</script>
		}
	}
