﻿@using MvcInfos.Entities.UserConfigurations
@using MvcInfos.ActiveDirectory.Extensions;
@{ 
    Layout = "~/Views/Administration/Admin/Admins/_admins_firms.cshtml";
}
<div>
    <ul class="nav nav-tabs">
        @if (User.IsHasAccessRights(EnumerableRoles.administrator_server))
        {
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "AdminsServer" ? "active" : "")">
                <a href="@Url.Action("_admins_firms_departments", "Administration")" @*data-toggle="tab"*@>
                    Отделы
                    <span class="glyphicon glyphicon-chevron-right">
                    </span>
                </a>
            </li>
        }

        @if (User.IsHasAccessRights(EnumerableRoles.administrator_server) || User.IsHasAccessRights(EnumerableRoles.administrator_firm))
        {
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "admins" ? "active" : "")">
                <a href="@Url.Action("_admins_firms_emploees", "Administration")" @*data-toggle="tab"*@>
                    Сотрудники<span class="glyphicon glyphicon-chevron-right">
                    </span>
                </a>
            </li>
        }
    </ul>
</div>