﻿@using MvcInfos.Models.ViewModels
@using MvcInfos.ActiveDirectory.Extensions;
@model ICollection<AdministrationFirmViewModels>
@{
    // ViewBag.Title = "AdminsServer";
    Layout = "~/Views/Administration/_LayoutAdmin.cshtml";
}

@if (User.IsHasAccessRights("administrator_server"))
{
    <div id="AdminsServer" class="tab-pane fade in active">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#_panel3_users" data-toggle="tab">Пользователи<span class="glyphicon glyphicon-chevron-down"></span></a></li>
            <li><a href="#_panel3_firms" data-toggle="tab">Фирмы<span class="glyphicon glyphicon-chevron-down" /></a></li>
        </ul>
        <div class="tab-content">
            <div id="_panel3_users" class="tab-pane fade in active">
                <p class="lead">Все пользователи зарегистрированные на данном сервере.</p>
                @*Html.Partial("_Employee", Model.AllUsers);*@
                @{
                    Html.RenderAction("_Employee");
                }

            </div>
            <div id="_panel3_firms" class="tab-pane fade">
                @if (Model != null)
                {
                    <p class="lead ">Все фирмы зарегистрированные на данном сервере</p>
                    @Html.Partial("_Firm", Model)
                }
                else
                {
                    <div class="alert alert-block">
                        @*<button type="button" class="close" data-dismiss="alert">&times;</button>*@
                        <h4>Внимание!</h4>
                        На сервере не зарегистрированно ни одной фирмы.
                    </div>
                }
            </div>
        </div>
    </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            @*<button type="button" class="close" data-dismiss="alert">&times;</button>*@
                            <h4>Ошибка!</h4>
                            У вас нет доступа!
                        </div>
                    }


