﻿@{
    // ViewBag.Title = "admins";
    // Layout = "~/Views/Administration/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MvcInfos.Entities.UserConfigurations
@using MvcInfos.ActiveDirectory.Extensions;
@if (User.IsHasAccessRights(EnumerableRoles.administrator_server) || User.IsHasAccessRights(EnumerableRoles.administrator_firm))
{
        <div>
            @RenderBody()
        </div> 
}
else
{
    <div class="alert alert-danger">
        @*<button type="button" class="close" data-dismiss="alert">&times;</button>*@
        <h4>Ошибка!</h4>
        У вас нет доступа!
    </div>
}
@section modals{
	@RenderSection("modals", required: false)
}
@section scripts{
	@RenderSection("scripts", required: false)
}