﻿@model MvcInfos.Models.ViewModels.ForDropdownOne

@*<div class="form-group" id="directorsDropdown">
    @Html.LabelFor(m => m.idAUser, new { @class = "control-label col-md-3 col-xs-3" })*@
<div class="col-md-4 col-xs-4">
    @Html.DropDownListFor(m => m.idAUser, Model.Items, new { @class = "form-control selectpicker" })
    @Html.ValidationMessageFor(m => m.idAUser, "Выберите ответственное лицо", new { @class = "text -danger" })
</div>
@*</div>*@
