﻿@model MvcInfos.Models.ViewModels.ProjectRowPartialModel
@if (Model == null)
{
    return;
}

@{ 
    ///TODO: Добавить подсвечивание тимлида
}
<tr id="@string.Format("proj{0}", Model.IdProject)">
    <td>@Model.ProjectCod</td>
    <td>
        <label title="@Model.ProjectName">@Model.ProjectName</label>
        <br />
        <small>Начат @Model.CreatedData.ToShortDateString()</small>
    </td>
    <td>
        <ul class="list-inline">
            @foreach (var item in Model.UserInfo)
            {
                <li>
                    <img src="@((item.Item3== null)?"../images/user.png":item.Item3)" class="avatar" title="@item.Item2" alt="@item.Item2">
                </li>
            }
        </ul>
    </td>
    <td class="project_progress">
        <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="@Model.ProcentComplete"></div>
        </div>
        <small>@Model.ProcentComplete% Готово</small>
    </td>
    <td>
        <button type="button" class="btn btn-success btn-xs">@Model.Stage</button>
    </td>
    <td>
        <a href="@Url.Action("ProjectDetail", new {@idFirm = Model.IdFirm, @idProject = Model.IdProject })" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Просмотр </a>
        <a href="@Url.Action("ProjectManage", new {@idFirm = Model.IdFirm, @idProject = Model.IdProject })" class="btn btn-info btn-xs"><i class="fa fa-line-chart"></i> Управление </a>
        <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Удалить </a>
    </td>
</tr>