﻿@model MvcInfos.Models.ViewModels.ProjectInfoModel
<div class="x_content" id="generalEditInfo" value="@Model.Id">
    <script type="text/javascript">
        function getProjectInfo() {
          // return ;
            return @Html.Raw(Json.Encode(Model));
        };
    </script>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-4 col-xs-4">Название проекта</label>
            <div class="col-md-4 col-xs-4">
                <div class="input-edit-hover project-name" type="text" edit="projectName" value="@Model.ProjectName">
                    
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4 col-xs-4">Код проекта</label>
            <div class="col-md-4 col-xs-4">
                <div class="input-edit-hover" type="text" edit="projectCod" value="@Model.ProjectCode">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4 col-xs-4">Начало проекта</label>
            <div class="col-md-4 col-xs-4">
                <div class="input-edit-hover" type="date" edit="projectStartDate" value="@Model.ProjectStartDate.ToShortDateString()">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4 col-xs-4">Завершение проекта</label>
            <div class="col-md-4 col-xs-4">
                <div class="input-edit-hover" type="date"  edit="projectFinishDate" value="@Model.ProjectEndDate.ToShortDateString()">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4 col-xs-4">Руководитель проекта</label>
            <div class="col-md-4 col-xs-4">
                <div class="input-edit-hover" type="list" edit="projectTeamLead" value="@Model.TeamLead.Fio" valueId="@Model.TeamLead.Id">
                    
                </div>
            </div>
        </div>       
    </div>
</div>