@mixin rightSelectBVorder($color) {
    border-right: 5px solid $color;
}

.row {
    .mail_type_column {
        padding-left: 10px;
        ul {
            list-style-type: none;
            padding-left: 0px;
            li {
                min-height: 31px;
                text-align: left;
                position: relative;
                display: block;
                cursor: pointer;
                &:active,
                &.current-page {
                    @include rightSelectBVorder(#1ABB9C);
                    /*  border-right: 5px solid #1ABB9C;*/
                }
                a {
                    display: block;
                    min-height: 31px;
                    mail-span {
                        margin-right: 10px;
                        float: right;
                    }
                }
                ul.mail_type_column_children {
                    padding-left: 36px;
                }
            }
        }
    }
    .mail_list_column {
        .buttons {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    div.mail_view {
        div.inbox-body {
            div.sender-info {
                ul.sender-list {
                    z-index: 1000;
                    position: absolute;
                    background-color: white;
                    box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
                    list-style-type: none;
                    padding: 3px;
                }
            }
            div.attachment {
                ul {
                    li {
                        div.file-name {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.mail_list_column {
    div.messages-header {
        a {
            .mail_list {
                &.selected_mail {
                    @include rightSelectBVorder(#1ABB9C);
                }
            }
        }
    }
}

.mail-info {
    >dl {
        display: flex;
    }
    >div {
        >dl {
            margin-left: 10px;
            display: flex;
        }
    }
}