﻿.option {
    border-left: 11px solid black;
    &:after {
        content: " ";
        border-left: 11px solid black;
        height: 23px;
        width: 0;
        position: absolute;
        left: 100%;
        top: 0;
        margin: 0px 0px 0px -207px;
        pointer-events: none;
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
    }
}

@mixin option($color-main) {
    border-left: 11px solid $color-main !important;
    &:after {
        border-left: 11px solid $color-main !important;
    }
}

.option-info {
    @include option(#5bc0de);
}

.option-default {
    @include option(#777);
}

.option-primary {
    @include option(#337ab7);
}

.option-success {
    @include option(#5cb85c);
}

.option-warning {
    @include option(#f0ad4e);
}

.option-danger {
    @include option(#d9534f);
}

.option-header {
    margin: 0px 0px 0px 10px;
}

@mixin option-image() {
    background-image: url(/Upload/70fbb83e-554d-483b-9c74-99ebfa9948d6/-/quality/lightest/-/scale_crop/20x20/center/);
    background-repeat: no-repeat;
}

.option-image {
    @include option-image();
    &:after {
        content: " ";
        @include option-image();
        position: absolute;
        margin: 0px 0px 0px -10px;
        width: 15px;
        height: 15px;
    }
}