﻿@function icon($character) {
    @return unquote("\"")+unquote(str-insert($character, "\\", 1))+unquote("\"");
}

@mixin progressbarStatus($litter, $color-main) {
    >span::before {
        font-family: FontAwesome;
        content: icon($litter);
    }
    >span {
        color: $color-main;
    }
}

.progressbar-status {
    >li {
        >span {
            float: right;
            margin-right: 60%;
        }
    }
}

.progressbar-progress {
    >span::before {
        font-family: FontAwesome;
        content: "\f110";
    }
}

.progressbar-progress {
    >span {
        animation: fa-spin 1s infinite steps(8);
        color: rgb(0, 0, 0);
    }
}

.progressbar-ok {
    @include progressbarStatus("f00c", #7ac741);
}

.progressbar-wait {
    @include progressbarStatus("f017", rgb(0, 0, 0));
}

.progressbar-notok {
    @include progressbarStatus("f00d", rgb(222, 34, 34));
}