﻿.dl-horizontal {
    dt {
        white-space: normal;
    }
}

.nav-md {
    .container.body {
        .right_col.hamburger-panel {
            margin-left: 0px !important;
        }
        .col-md-3.left_col {
            box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
            left: 0px;
            opacity: 1;
            visibility: visible;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
        }
    }
}

@media (max-width: 991px) {
    .nav-md .container.body {
        .right_col,
        .top_nav {
            width: 100%;
            margin: 0;
        }
        .col-md-3.left_col {
            display: inherit;
        }
        .right_col {
            width: 100%;
            padding-right: 0;
        }
    }
    .right_col {
        padding: 10px !important;
    }
}

.top_nav .navbar-right {
    width: 80%;
}

.nav_menu {
    float: left;
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
}

@media (min-width: 480px) {
    .nav_menu {
        position: static;
    }
}

.main_container .top_nav {
    display: block;
    margin-left: 0px;
}

.nav-hide {
    footer {
        margin-left: 0px;
    }
    ul.nav.child_menu li {
        &:before {
            background: #425668;
            bottom: auto;
            content: "";
            height: 8px;
            left: 23px;
            margin-top: 15px;
            position: absolute;
            right: auto;
            width: 8px;
            z-index: 1;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
        &:after {
            border-left: 1px solid #425668;
            bottom: 0;
            content: "";
            left: 27px;
            position: absolute;
            top: 0;
        }
    }
    .container.body {
        .right_col {
            padding: 10px 20px 0;
            margin-left: 0px;
            &.hamburger-panel {
                margin-left: 0px;
            }
        }
        .col-md-3.left_col {
            left: -230px;
            min-height: 100%;
            box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
            visibility: hidden;
            opacity: 0;
            width: 230px;
            padding: 0;
            position: absolute;
            display: flex;
            z-index: 1;
            &.menu_fixed {
                height: 100%;
                position: fixed;
            }
        }
    }
}

@media (min-width: 768px) {
    .footer_fixed .nav-hide footer {
        margin-left: 0;
    }
}

@media screen and (min-width: 768px) {
    .megamenu ul {
        padding-bottom: 15px;
    }
    .megamenu>.dropdown-menu {
        left: -90%;
        min-width: 800px;
    }
}

.dropdown-md {
    >.dropdown-menu {
        min-width: 450px;
    }
}

.dropdown-lg {
    >.dropdown-menu {
        min-width: 850px;
    }
}

.my_valid_error,
input.error {
    border: 1px solid red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

label.error {
    font-weight: inherit;
    color: red;
}

.my_valid_not_error {
    border: 1px solid green;
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
}

.my_valid_error_table {
    border-left: 10px solid red;
}

.my_valid_not_error_table {
    border-left: 10px solid green;
}

.mymargin {
    margin-top: 10px;
}

@-webkit-keyframes fa-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

td.fc-event-container {
    overflow: hidden;
    z-index: 100;
    &:hover {
        overflow: visible;
        z-index: 999999;
    }
}

$greywhite: #f7f7f7;
div.calendar_task_panel {
    background-color: $greywhite;
    padding-left: 1%;
    padding-right: 1%;
    width: 180px;
    height: 40px;
    div {
        background-color: $greywhite;
    }
    .photo img {
        width: 40px;
        float: left;
        border-radius: 2px 2px 2px 2px;
    }
    .info ul {
        background-color: $greywhite;
        list-style-type: none;
        padding-left: 50px;
    }
    .info ul li {
        font-size: 75%;
        background-color: $greywhite;
        white-space: nowrap;
        overflow: hidden;
    }
}

.z_calendar {
    width: 75%;
}

.calendarPage .x_panel {
    width: 75%;
}

.project-control {
    >.buttons-left {
        display: inline-flex;
        float: left;
    }
    >.buttons-right {
        float: right;
    }
}

.input-edit-hover {
    &:hover {
        .mybutton {
            display: block;
        }
    }
}

.treeStages {
    td:first-child {}
    tr {
        td {
            padding: 0px !important;
            vertical-align: baseline !important;
        }
    }
}

.projects label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 75%;
    font-weight: inherit;
    margin-bottom: 0px;
    outline: 0;
}

.block_content .settings {
    right: 0;
    position: absolute;
    background-color: #eaeaea;
    z-index: 999;
    padding: 4px 10px;
    border-radius: 3px;
    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        .buttons_manage {
            display: inline-block !important;
            max-width: 396.96875px;
        }
        .free_zone {
            transition-duration: 1s;
            margin: 0px 0px 0px 0px;
            &:hover {
                margin: 0px 8px 0px 0px;
            }
        }
    }
    .buttons_manage {
        .btn {
            margin: 0px;
        }
        &:hover {
            display: inline-block !important;
            max-width: 396.96875px;
        }
        transition-duration: 1s;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block !important;
        max-width: 0px;
    }
    .settings_ellipsis_button {
        margin: 0px 0px 0px 0px;
    }
}

.byline {
    display: inline-block;
}

.project-control .buttons-left {
    border-bottom: 1px solid #ddd;
    .projects {
        .selector {
            display: none;
            z-index: 999;
            position: absolute;
            width: 350px;
            &.selector-active {
                display: block;
                border-radius: 4px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }
            .list-group {
                margin-bottom: 0px;
            }
        }
        .btn {
            border-radius: 4px 4px 0 0;
            &:hover {
                border-bottom: none;
                border-right: 1px solid #ddd;
                border-top: 1px solid #ddd;
                border-left: 1px solid #ddd;
            }
        }
    }
}

.dropdown-menu.open {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.fr-popup {
    z-index: 1055 !important;
}

@font-face {
    font-family: "summernote";
    font-style: normal;
    font-weight: normal;
    src: url("/Content/fonts/summernote.eot");
    src: url("/Content/fonts/summernote.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/summernote.woff") format("woff"), url("/Content/fonts/summernote.ttf") format("truetype")
}

div.files-loading {
    list-style-type: none;
    cursor: default;
    div.file {
        cursor: pointer;
        border: 1px solid rgb(204, 204, 204);
        padding: 4px;
        -webkit-touch-callout: none;
        user-select: none;
        margin-right: 4px;
        margin-bottom: 4px;
        display: inline-flex;
        width: 140px;
        .file-info>i {
            vertical-align: -moz-middle-with-baseline;
            vertical-align: -webkit-baseline-middle;
            font-size: x-large;
        }
        .file-info>label {
            vertical-align: -moz-middle-with-baseline;
            vertical-align: -webkit-baseline-middle;
            font-weight: normal;
            font-style: italic;
            font-size: 13px;
        }
        >button.close {
            vertical-align: -moz-middle-with-baseline;
            vertical-align: -webkit-baseline-middle;
            line-height: 0;
            position: absolute;
            margin-left: 110px;
        }
        .file-remove {
            visibility: hidden;
            z-index: 99999;
        }
        &:hover {
            background-color: rgb(218, 218, 218);
            opacity: 0.5;
            .file-info {
                /*  opacity: 0.5;*/
            }
            .file-remove {
                visibility: visible;
                opacity: 1;
                vertical-align: -moz-middle-with-baseline;
                vertical-align: -webkit-baseline-middle;
            }
        }
        .free_zone {
            padding-right: 20px;
            height: 1px;
            vertical-align: -moz-middle-with-baseline;
            vertical-align: -webkit-baseline-middle;
        }
    }
    .files-colapser {
        height: 36px;
        overflow: hidden;
        width: 95%;
        &.files-show {
            height: 36px;
            overflow: hidden;
            width: 95%;
            position: absolute;
            height: 200px;
            z-index: 100000;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            &.files-show~.files-collapse-shower {
                margin-top: 0px;
            }
        }
    }
    .file-name {
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .files-collapse-shower {
        float: right;
        z-index: 100000;
        margin-top: -30px;
        &.f-show {}
    }
}


/*Text editor style*/

.note-editor {
    border-radius: 0px;
}

.panel-heading {
    background-color: inherit !important;
    border-color: inherit !important;
}

.note-btn {
    border: 0px;
}

.note-popover .popover-content,
.panel-heading.note-toolbar {
    padding: 0 0 10px 5px;
}


/*bootstrap-select*/

button.btn.dropdown-toggle {
    border-radius: 0px !important;
}

settings-element {
    padding-left: 0px;
    display: inline-grid;
    label {
        font-weight: normal;
    }
    settings-header {
        padding-left: 0px;
        input[type="checkbox"] {
            &:not(:checked) {
                +label {
                    color: red !important;
                }
            }
        }
        input[type="checkbox"] {
            &:checked {
                +label {
                    color: green !important;
                }
            }
        }
    }
    settings-main {
        padding-left: 0px;
        settings-config {
            display: inline-flex;
        }
        div {
            display: flex;
        }
    }
    /* &.ad-settings {
        settings-header {
            label {
                &.ad-input {}
            }
        }
    }*/
}

.formRow {
    position: relative;
    width: 100%;
    &--item {
        display: block;
        width: 100%;
    }
    &--input {
        position: relative;
        padding: 15px 20px 11px;
        width: 100%;
        outline: none;
        border: solid 1px rgb(149, 152, 154);
        border-radius: 4px;
        color: rgb(44, 50, 53);
        letter-spacing: .2px;
        font-weight: 400;
        font-size: 16px;
        resize: none;
        transition: all .2s ease;
        &-wrapper {
            position: relative;
            display: block;
            width: 100%;
            &.active {
                .placeholder {
                    top: -5px;
                    background-color: #ffffff;
                    color: #fd999a;
                    text-transform: uppercase;
                    letter-spacing: .8px;
                    font-size: 11px;
                    line-height: 14px;
                    transform: translateY(0);
                }
                .formRow--input:not(:focus):not(:hover) {
                    &~.placeholder {
                        color: #fec8c9;
                    }
                }
            }
            .formRow--input {
                &:focus,
                &:hover {
                    border-color: #fd999a;
                }
            }
        }
    }
    .placeholder {
        position: absolute;
        top: 50%;
        left: 10px;
        display: block;
        padding: 0 10px;
        color: rgb(149, 152, 154);
        white-space: nowrap;
        letter-spacing: .2px;
        font-weight: normal;
        font-size: 16px;
        transition: all, .2s;
        transform: translateY(-50%);
        pointer-events: none;
        user-select: none;
    }
}

table {
    tbody {
        tr {
            &.not-delete-true {
                background-color: #9dbc91;
            }
        }
    }
}

.legendLabel {
    color: #9dbc91;
}