﻿.tag-info {
    background: #5bc0de !important;
    &:after {
        border-left: 11px solid #5bc0de !important;
    }
}

.tag-default {
    background: #777 !important;
    &:after {
        border-left: 11px solid #777 !important;
    }
}

.tag-primary {
    background: #337ab7 !important;
    &:after {
        border-left: 11px solid #337ab7 !important;
    }
}

.tag-success {
    background: #5cb85c !important;
    &:after {
        border-left: 11px solid #5cb85c !important;
    }
}

.tag-warning {
    background: #f0ad4e !important;
    &:after {
        border-left: 11px solid #f0ad4e !important;
    }
}

.tag-danger {
    background: #d9534f !important;
    &:after {
        border-left: 11px solid #d9534f !important;
    }
}