﻿@model MvcInfos.Models.ViewModels.ActiveDirectory.ActiveDirectorySyncInfoViewModel
@{
	ViewBag.Title = "Информация";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.TitlePage = "Синхронизация";
	ViewBag.TitlePageSmall = ViewBag.Title;
	ViewBag.UseSearch = false;
}

<div>
	@using (Html.BeginForm(null, null, FormMethod.Post, htmlAttributes: new { @id = "__AjaxAntiForgeryForm" } @*"EditDepartment", "Administration", new { idFirm = Model.idFirm, idDepartment = Model.idDepartment, efd = EnumerableForDelete.Department }*@))
	{
		@Html.AntiForgeryToken()
	}
</div>
@{
	var isStart = ((bool)@ViewData["IsActiveDirectorySyncServiceStart"]) == true ? "checked" : "";
}

<div class="clearfix"></div>
<div class="row">
	<div class="col-md-12 col-xs-12 col-lg-12">
		<div class="x_panel">
			<div class="x_content">
				<div class="row">
					<form class="panel" id="activeDirectoryForm">
						<settings-element class="activeDirectory-settings col-md-12 col-xs-12 col-lg-12">
							<settings-header>
								<label class="activeDirectory-input">Синхронизация Active Directory: </label>
								<input name="activeDirectorySync-switch" type="checkbox" class="js-switch" data-toggle="#activeDirectorySync-main" onchange="settingsPage.changeAd('activeDirectorySync-switch')"  @isStart  />
							</settings-header>		
							<settings-main  id="activeDirectorySync-main" hidden>
								<table class="table">
									<thead>
										<tr><th></th><th>Active Directory</th><th>СМенеджер (Совпадающих)</th></tr>
									</thead>
									<tbody>
										<tr><td>Пользователи: </td><td>@Model.UsersCount.InActiveDirectory</td><td>@Model.UsersCount.InAsp</td> </tr>
										<tr><td>Организации: </td><td>@Model.FirmCount.InActiveDirectory</td><td>@Model.FirmCount.InAsp</td> </tr>
										<tr><td>Отделы: </td><td>@Model.DepartmentCount.InActiveDirectory</td><td>@Model.DepartmentCount.InAsp</td> </tr>
									</tbody>
								</table>
							</settings-main>
						</settings-element>
						<input type="button" class="btn btn-success" value="Синхронизировать" id="syncAd" />

					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{
	<script>
		$(() => {
			_activeDirectory.init('@Url.Action("Synchronize", "ActiveDirectory")');

			settingsPage.changeAd('activeDirectorySync-switch');
		});

	</script>

}