﻿@using MvcInfos.Entities.Mails;
@using MvcInfos.Models.ViewModels.Mail
@model List<MailProjectModelView>
@{
	ViewBag.Title = "Письма";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.TitlePage = "Письма";
	ViewBag.TitlePageSmall = ViewData["firmName"];
	ViewBag.UseSearch = true;
}


<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
		<div class="x_panel">
			<div class="x_content">
				<div class="row">
					<div class="col-md-2 col-sm-3 col-xs-2 col-lg-2 mail_type_column">
						<ul>
							<li>
								<a href="#" class="collapse_menu"> <i class="fa fa-inbox"></i>  В работе <mail-span><span class="badge">4</span><span class="fa fa-chevron-down"></span></mail-span> </a>
								<ul class="mail_type_column_children">
									<li><a href="#" link="@Url.Action("GetMails", new { @idFirm = ViewData["idFirm"],  @mailStatus = MailStatusEnum.InAction })"> <i class="fa fa-inbox"></i> Все <mail-span><span class="badge">4</span></mail-span></a></li>

									@foreach (var item in Model)
									{
									<li><a href="#" link="@Url.Action("GetMails", new { @idFirm = ViewData["idFirm"], @idProject= item.ProjectId, @mailStatus = MailStatusEnum.InAction })"> <i class="fa fa-inbox"></i> @item.ProjectCode <mail-span><span class="badge">4</span></mail-span></a></li>
									}
								</ul>
							</li>
							<li><a href="#" link="@Url.Action("GetMails", new { @idFirm = ViewData["idFirm"], @mailStatus = MailStatusEnum.Spent })"> <i class="fa fa-comments-o"></i> Отработанные </a> </li>
							<li><a href="#" link="@Url.Action("GetMails", new { @idFirm = ViewData["idFirm"], @mailStatus = MailStatusEnum.Outbox })"> <i class="fa fa-share fa-flip-horizontal"></i> Исходящие письма </a> </li>
							<li><a href="#" link="@Url.Action("GetMails", new { @idFirm = ViewData["idFirm"], @mailStatus = MailStatusEnum.CurrentQuestions })"> <i class="fa fa-question-circle-o"></i> Текущие вопросы </a> </li>
						</ul>
					</div>
					<div class="mail_list_column col-md-3 col-sm-3 col-xs-3 col-lg-3">

						<div class="buttons btn-group col-md-12 col-sm-12 col-xs-12 col-lg-12" role="group" aria-label="...">
							<button id="compose" class="btn btn-sm btn-success col-md-9 col-sm-9 col-xs-9 col-lg-9" type="button">Сортировка</button>
							<button type="button" class="btn btn-sm btn-danger col-md-3 col-sm-3 col-xs-3 col-lg-3">Корзина</button>
						</div>


						<div class="messages-header">

						</div>
						@*<a href="#">
								<div class="mail_list">
									<div class="left">
										<i class="fa fa-circle"></i> <i class="fa fa-edit"></i>
									</div>
									<div class="right">
										<h3>Dennis Mugo <small>3.00 PM</small></h3>
										<p>Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
									</div>
								</div>
							</a>
							<a href="#">
								<div class="mail_list">
									<div class="left">
										<i class="fa fa-star"></i>
									</div>
									<div class="right">
										<h3>Jane Nobert <small>4.09 PM</small></h3>
										<p><span class="badge">To</span> Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
									</div>
								</div>
							</a>
							<a href="#">
								<div class="mail_list">
									<div class="left">
										<i class="fa fa-circle-o"></i><i class="fa fa-paperclip"></i>
									</div>
									<div class="right">
										<h3>Musimbi Anne <small>4.09 PM</small></h3>
										<p><span class="badge">CC</span> Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
									</div>
								</div>
							</a>
							<a href="#">
								<div class="mail_list">
									<div class="left">
										<i class="fa fa-paperclip"></i>
									</div>
									<div class="right">
										<h3>Jon Dibbs <small>4.09 PM</small></h3>
										<p>Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
									</div>
								</div>
							</a>
							<a href="#">
								<div class="mail_list">
									<div class="left">
										.
									</div>
									<div class="right">
										<h3>Debbis & Raymond <small>4.09 PM</small></h3>
										<p>Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
									</div>
								</div>
							</a>
							<a href="#">
								<div class="mail_list">
									<div class="left">
										.
									</div>
									<div class="right">
										<h3>Debbis & Raymond <small>4.09 PM</small></h3>
										<p>Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
									</div>
								</div>
							</a>
							<a href="#">
								<div class="mail_list">
									<div class="left">
										<i class="fa fa-circle"></i> <i class="fa fa-edit"></i>
									</div>
									<div class="right">
										<h3>Dennis Mugo <small>3.00 PM</small></h3>
										<p>Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
									</div>
								</div>
							</a>
							<a href="#">
								<div class="mail_list">
									<div class="left">
										<i class="fa fa-star"></i>
									</div>
									<div class="right">
										<h3>Jane Nobert <small>4.09 PM</small></h3>
										<p>Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
									</div>
								</div>
							</a>*@
					</div>
					<!-- /MAIL LIST -->
					<!-- CONTENT MAIL -->
					<div class="col-sm-7 mail_view">

					</div>
					<!-- /CONTENT MAIL -->
				</div>
			</div>
		</div>
	</div>
</div>


@section modals{
	<div id="modalReplace">

	</div>
}
@section scripts{
	<script>
		$(() => {
			@{


			}
			mailController.setUserId('@ViewData["userId"]');
			mailController.initLinks(".mail_type_column [link]");
		})
	</script>

}