﻿@model MvcInfos.Models.ViewModels.Mail.NewMailVewModel
@{
	ViewBag.Title = "Письма";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.TitlePage = ViewBag.Title;
	ViewBag.TitlePageSmall = ViewData["firmName"] + ".Новое письмо";
	ViewBag.UseSearch = true;
}

<div class="clearfix"></div>
<div class="row">
	<div class="col-md-12 col-xs-12 col-lg-12">
		<div class="x_panel">
			<div class="x_content">
				<div class="row">
				@{
					Html.RenderPartial("partials/_EditMailPartial", Model, ViewData);
					}
				</div>
			</div>
		</div>
	</div>
</div>


@section scripts{
	<script type="text/javascript">
		$(() => {
			initSelector('.selectpicker');
			initDatePicker();
			//initTimePicker();
			$('#datetimepicker1Div').data("DateTimePicker").date(new Date());
			$('#datetimepicker2Div').data("DateTimePicker").date(new Date());
			$('#datetimepicker3Div').data("DateTimePicker").date(new Date());
			$('#datetimepicker4Div').datetimepicker({
				locale: 'ru',
				format: 'HH:mm'
			});
			settingsPage.changeAd('activeDirectory-switch');
			initTypeahead('#customerDropdown .typeahead', '@Url.Action("Customers")', @ViewData["idFirm"]);
		})
	</script>

}
