﻿@using MvcInfos.Models
@using MvcInfos.Settings
@using MvcInfos.ActiveDirectory.Extensions;
@using MvcInfos.Entities.UserConfigurations
@*@model ActiveDirectorySettingView*@
@*@model ICollection<AdministrationFirmViewModels>*@
@{
    ViewBag.TitlePage = "Список предприятий";
  //  ViewBag.TitlePageSmall = ViewData["firmName"];
    ViewBag.UseSearch = true;
    Layout = "~/Views/Administration/Admin/Admins.cshtml";
}

@if (User.IsHasAccessRights(EnumerableRoles.administrator_server) || User.IsHasAccessRights(EnumerableRoles.administrator_firm))
{
    <div id="_admins_firms">
        @*<p class="lead">Список предприятий </p>*@
        <div class="x_panel">
            <div class="project-control">
                <div class="buttons-left">				
					<a href="@Url.Action("Index", "NewFirm", new { userName = User.Identity.Name })" class="btn btn-success">Добавить новую организацию <span class="fa fa-plus" /></a>	
					<div id="adSync" hidden>
						<button href="@Url.Action("Index", "ActiveDirectory")" class="btn btn-success" data-type="adSync">Настройка синхронизации <span class="fa fa-cogs" /></button>
					</div>
               </div>
            </div>
        </div>


        <div class="clearfix"></div><div class="x_panel">
            @RenderBody()
        </div>
    </div>


}
else
{
    <div class="alert alert-danger">
        @*<button type="button" class="close" data-dismiss="alert">&times;</button>*@
        <h4>Ошибка!</h4>
        У вас нет доступа!
    </div>
}
@section modals{
	@RenderSection("modals", required: false)
}
@section scripts{
	@RenderSection("scripts", required: false)
	<script type="text/javascript">
		$(document).ready(() => {
			isInActiveDirectory('@Url.Action("IsUsed", "ActiveDirectory")', '#adSync');

		});
	</script>
}