﻿@model MvcInfos.Models.ViewModels.AdministrationUserModalWindow
@using MvcInfos.Controllers;

<div class="modal-dialog" role="document" id="@string.Format("myModalEdit_{0}_in", Model.Id)">
    @using (Ajax.BeginForm("_modal_for_user_edit",new  { firmId = ViewData["firmId"] },
        new AjaxOptions {
            OnSuccess = string.Format("OnSuccess{0}", Model.Id.GetHashCode()),
            OnFailure = string.Format("OnFailure{0}", Model.Id.GetHashCode()),
            OnComplete = string.Format("OnComplete{0}", Model.Id.GetHashCode()),
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = string.Format("myModalEdit_{0}_in", Model.Id) }))
    {
        <div class="modal-content">
            @{
                ViewData["idUser"] = Model.Id;
                Html.EnableClientValidation();
            }
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@String.Format("Редактирование({0})", Model.UserName) </h4>
            </div>
            <div class="modal-body" id="@string.Format("ipd_ajax_beginform_{0}", Model.Id)">
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        @Html.LabelFor(model => model.FamilyName, htmlAttributes: new { @class = "control-label col-md-2 col-xs-3 col-md-3" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FamilyName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FamilyName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2  col-xs-3 col-md-3" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md-2  col-xs-3 col-md-3" })
                        <div class="col-md-10">
                            <div class="category-container">
                                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2  col-xs-3 col-md-3" })
                        <div class="col-md-10 col-xs-3">
                            <div class='input-group date' id='@string.Format("datetimepicker2_{0}", Model.Id)'>
                                @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control", @id = string.Format("datetimepicker2_{0}_input", Model.Id) } })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar" />
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

@if ((int)ViewData["firmId"] > -1)
{
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmployeeDate, htmlAttributes: new { @class = "control-label col-md-2  col-xs-3 col-md-3" })
                        <div class="col-md-10 col-xs-3">
                            <div class='input-group date' id='@string.Format("datetimepicker2_{0}", Model.Id)'>
                                @Html.EditorFor(model => model.EmployeeDate, new { htmlAttributes = new { @class = "form-control", @id = string.Format("datetimepicker2_{0}_input", Model.Id) } })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar" />
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.EmployeeDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
}
else
{
    Model.EmployeeDate = DateTime.Now;
}

                    <script>
                        @*$(document).ready(function () {
                                            $('#@string.Format("datetimepicker2_{0}", Model.Id)').datetimepicker({
                                                locale: 'ru',
                                                format: 'YYYY-MM-DD',

                                                maxDate: '@DateTime.Now.ToString("yyyy-MM-dd")',
                                                //showClose: true,
                                                //showClear: true,
                                                //toolbarPlacement: 'top'
                                            });
                                        });*@
                        @*$(document).ready(function () {
                                            $('#@string.Format("datetimepicker2_{0}", Model.Id)').datepicker({ dateFormat: "dd/MM/yyyy" });
                                            $.validator.addMethod('date',
                                                function (value, element, params) {
                                                    if (this.optional(element)) {
                                                        return true;
                                                    }

                                                    var ok = true;
                                                    try {
                                                        $.datepicker.parseDate('dd/MM/yyyy', value);
                                                    }
                                                    catch (err) {
                                                        ok = false;
                                                    }
                                                    return ok;
                                                });
                                        });*@
                    </script>   
                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2  col-xs-3 col-md-3" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirmsS, htmlAttributes: new { @class = "control-label col-md-2  col-xs-3 col-md-3" })
                        <div class="col-md-10">

                            @Html.TextBoxFor(m => m.firm_string, new { @class = "form-control", @id = string.Format("zzz_firm_{0}", Model.Id) })
                            @Html.ValidationMessageFor(model => model.firm_string, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @if ((int)ViewData["firmId"] > -1)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.DepartmentS, htmlAttributes: new { @class = "control-label col-md-2  col-xs-3 col-md-3" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.department_string, new { htmlAttributes = new { @class = "form-control", data_role = "tagsinput", @id = string.Format("zzz_dep_{0}", Model.Id) } })
                                @Html.ValidationMessageFor(model => model.department_string, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DolznostS, htmlAttributes: new { @class = "control-label col-md-2  col-xs-3 col-md-3" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.dolznost_string, new { htmlAttributes = new { @class = "form-control", data_role = "tagsinput", @id = string.Format("zzz_dolz_{0}", Model.Id) } })
                                @Html.ValidationMessageFor(model => model.dolznost_string, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                 

                    @*<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                            </div>
                        </div>*@
                </div>


            </div>
            <div class="modal-footer">
                <input type="submit" value="Сохранить изменения" class="btn btn-success" />
                <button type="button" class="btn btn-default" data-dismiss="modal" value="Закрыть">Закрыть</button>
            </div>
        </div>
                }
</div>

<script>
    $(document).ready(function () {
        var token = [];
        var engine;
        $.get("@Url.Action("AutocompleteFirm", "Administration")", function (response) {
            $.each(response.data, function (i, v) {
                token.push({ value: v });
                console.log(v);
            });
            engine = new Bloodhound({
                name: 'department',
                local: token,
                datumTokenizer: function (d) {
                    return Bloodhound.tokenizers.whitespace(d.value);
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace

            });
            engine.initialize();
            console.log(token);
            $('#@string.Format("zzz_firm_{0}", Model.Id)').on('tokenfield:createtoken', function (e) {
                var data = e.attrs.value.split('|')
                console.log(data);
                e.attrs.value = data[1] || data[0]
                e.attrs.label = data[1] ? data[0] + ' (' + data[1] + ')' : data[0]
            }).on('tokenfield:createdtoken', function (e) {
                var re = /\S+\S+\.\S+/
                var valid = re.test(e.attrs.value)
                if (!valid) {
                    $(e.relatedTarget).addClass('invalid')
                }
            }).on('tokenfield:edittoken', function (e) {
                if (e.attrs.label !== e.attrs.value) {
                    var label = e.attrs.label.split(' (')
                    e.attrs.value = label[0] + '|' + e.attrs.value
                }
            }).on('tokenfield:removedtoken', function (e) {
            }).tokenfield(  
            {             
                typeahead: [null,
                    { 
                        name: 'department',  
                        displayKey: 'value', 
                        source: engine.ttAdapter(),
                        templates: {
                            empty: '<div class="empty-message">No matches.</div>'
                        }
                    }
                ]
            });
        });
    });
</script>


<script>
    $(document).ready(function () {
        var token = [];
        var engine;
        $.get("@Url.Action("AutocompleteDepart", "Administration",new { @idFirm = ViewData["firmId"], @idUser = Model.Id })", function (response) {
            $.each(response.data, function (i, v) {
                token.push({ value: v });
                console.log(v);
            });
            engine = new Bloodhound({
                local: token,
                datumTokenizer: function (d) {
                    return Bloodhound.tokenizers.whitespace(d.value);
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace

            });
            engine.initialize();
            console.log(token);
            console.log(engine);
            console.log(engine.ttAdapter());
            $('#@string.Format("zzz_dep_{0}", Model.Id)').on('tokenfield:createtoken', function (e) {
                var data = e.attrs.value.split('|')
                e.attrs.value = data[1] || data[0]
                e.attrs.label = data[1] ? data[0] + ' (' + data[1] + ')' : data[0]
            }).on('tokenfield:createdtoken', function (e) {
                var re = /\S+\S+\.\S+/
                var valid = re.test(e.attrs.value)
                if (!valid) {
                    $(e.relatedTarget).addClass('invalid')
                }
            }).on('tokenfield:edittoken', function (e) {
                if (e.attrs.label !== e.attrs.value) {
                    var label = e.attrs.label.split(' (')
                    e.attrs.value = label[0] + '|' + e.attrs.value
                }
            }).on('tokenfield:removedtoken', function (e) {
            }).tokenfield({
                displayKey: 'value',
                typeahead: [null, { source: engine.ttAdapter() }]
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        var token = [];
        var engine;
        $.get("@Url.Action("AutocompleteDolzn", "Administration",new { @idFirm = ViewData["firmId"]})", function (response) {
            $.each(response.data, function (i, v) {
                token.push({ value: v });
                console.log(v);
            });
            engine = new Bloodhound({
                local: token,
                datumTokenizer: function (d) {
                    return Bloodhound.tokenizers.whitespace(d.value);
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace
            });
            engine.initialize();
            console.log(token);
            console.log(engine);
            console.log(engine.ttAdapter());
            $('#@string.Format("zzz_dolz_{0}", Model.Id)').on('tokenfield:createtoken', function (e) {
                var data = e.attrs.value.split('|')
                e.attrs.value = data[1] || data[0]
                e.attrs.label = data[1] ? data[0] + ' (' + data[1] + ')' : data[0]
            }).on('tokenfield:createdtoken', function (e) {
                var re = /\S+\S+\.\S+/
                var valid = re.test(e.attrs.value)
                if (!valid) {
                    $(e.relatedTarget).addClass('invalid')
                }
            }).on('tokenfield:edittoken', function (e) {
                if (e.attrs.label !== e.attrs.value) {
                    var label = e.attrs.label.split(' (')
                    e.attrs.value = label[0] + '|' + e.attrs.value
                }
            }).on('tokenfield:removedtoken', function (e) {
            }).tokenfield({
                displayKey: 'value',
                typeahead: [null, { source: engine.ttAdapter() }]
            });
        });
    });
</script>

<script>
    @*$('#@String.Format("myModalEdit_{0}", Model.Id)').on('hidden', function () {
        console.log("Закрывается окно");
        $('#@string.Format("fio_{0}", Model.Id)').val('@Model.Fio');
        $('#@string.Format("myModalEdit_{0}", Model.Id)').html("<div><\div>");
    });*@

    @*      function OnComplete_(data){
                console.log("OnComplete - modal");
                var test = @Ajax.ViewData["isValid"].ToString().ToLower();
                console.log(@Ajax.ViewData["isValid"].ToString().ToLower());
                console.log(test);
                if (test) {
                    $('#@string.Format("myModalEdit_{0}", Model.Id)').modal('hide');
                    $('#@string.Format("myModalEdit_{0}", Model.Id)').html("<div><\div>");
                }else{
                    //var hmod = $("<!DOCTYPE html><html><head></head><body>" + data.responseText + "</body></html>")[3].children[0].children[0].children[0].children[1];
                    // $('#@string.Format("modalEdit_{0}", Model.Id)').html(hmod)
                    $('#@string.Format("modalEdit_{0}", Model.Id)').html(data);
                    console.log(data);
                }
            }

            function OnSuccess_(data){
                console.log("OnSuccess - modal");
                var test = @Ajax.ViewData["isValid"].ToString().ToLower();
                console.log(@Ajax.ViewData["isValid"].ToString().ToLower());
                //data.success
                if (test) {
                    $('#@string.Format("myModalEdit_{0}", Model.Id)').modal('hide');
                    $('#@string.Format("myModalEdit_{0}", Model.Id)').html("<div><\div>");
                }
                alert("OnSuccess");
            }
            function OnFailure_(){
                alert("OnFailure");
            }*@
    @{
        var functionStart1 = "function " + string.Format("OnComplete{0}(data)", Model.Id.GetHashCode());
     }
    @functionStart1{
        //  console.log("OnComplete - modal");
        @* var test = @Ajax.ViewData["isValid"].ToString().ToLower();
        console.log(@Ajax.ViewData["isValid"].ToString().ToLower());
        console.log(test);
       if (test) {
            $('#@string.Format("myModalEdit_{0}", Model.Id)').modal('hide');
            $('#@string.Format("myModalEdit_{0}", Model.Id)').html("<div><\div>");
        }else{
            var hmod = $("<!DOCTYPE html><html><head></head><body>" + data.responseText + "</body></html>")[3].children[0].children[0].children[0].children[1];
             $('#@string.Format("modalEdit_{0}", Model.Id)').html(hmod)
            $('#@string.Format("modalEdit_{0}", Model.Id)').html(data);
            console.log(data);
        }*@
    }
    @{
         var functionStart2 = "function " + string.Format("OnSuccess{0}(data)", Model.Id.GetHashCode());
     }
    @functionStart2{
        console.log("OnSuccess - modal");
        var test = @Ajax.ViewData["isValid"].ToString().ToLower();
        console.log(@Ajax.ViewData["isValid"].ToString().ToLower());
        //data.success
        if (test) {
            $('#@string.Format("myModalEdit_{0}", Model.Id)').modal('hide');
            $('#@string.Format("fio_{0}", Model.Id)').html('@Model.Fio');
            $('#@string.Format("myModalEdit_{0}", Model.Id)').html("<div><\div>");
        }

        //alert("OnSuccess");
    }
    @{
             var functionStart3 = "function " + string.Format("OnFailure{0}(data)", Model.Id.GetHashCode());
         }
    @functionStart3{
        //alert("OnFailure");
    }
    //function OnComplete(data) {

    //}
    //function OnSuccess(data) {

    //}
    //function OnFailure() {

    //}

</script>

@*<script src="~/Scripts/globalize/globalize.js"></script>
    <script src="~/Scripts/globalize/cultures/globalize.culture.@(System.Threading.Thread.CurrentThread.CurrentCulture.Name).js"></script>
    <script>
        $.validator.methods.number = function (value, element) {
            return this.optional(element) || !isNaN(Globalize.parseFloat(value));
        }
        $(document).ready(function () {
            Globalize.culture('@(System.Threading.Thread.CurrentThread.CurrentCulture.Name)');
        });
    </script>
    <script>
        jQuery.extend(jQuery.validator.methods, {
            range: function (value, element, param) {
                //Use the Globalization plugin to parse the value
                var val = Globalize.parseFloat(value);
                return this.optional(element) || (
                    val >= param[0] && val <= param[1]);
            }
        });
        $.validator.methods.date = function (value, element) {
            return this.optional(element) ||
                Globalize.parseDate(value) ||
                Globalize.parseDate(value, "yyyy-MM-dd");
        }
    </script>*@
