﻿@model MvcInfos.Models.ViewModels.AdministrationAddEmployee_from_server
@using MvcInfos.Controllers;


<div class="modal-dialog modal-lg" role="document" id="@string.Format("modalUserAdd_{0}_in", "zxc123zxc")">
    @using (Ajax.BeginForm("_modal_for_user_add", new  { @efd = EnumerableForDelete.User, @idFirm = Model.idFirm },
        new AjaxOptions
        {
            OnSuccess = string.Format("OnSuccess{0}", "zxc123zxc"),
            OnFailure = string.Format("OnFailure{0}", "zxc123zxc"),
            OnComplete = string.Format("OnComplete{0}", "zxc123zxc"),
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = @String.Format("modalUserAdd_{0}", "zxc123zxc")
            //UpdateTargetId = string.Format("modalUserAdd_{0}_in", "zxc123zxc")
        },htmlAttributes: new { @id = "form_id" })
            )
    {
        <div class="modal-content">
            @{
                Html.EnableClientValidation();
            }
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              @if (Model.idFirm > 0)
              {
                <h4 class="modal-title" id="myModalLabel">@String.Format("Добавление нового сотрудника, в фирму {0}", Model.FirmsS) </h4>
              }
              else
              {
                <h4 class="modal-title" id="myModalLabel">Добавление нового пользователя </h4>
              }
                 
            </div>
            <div class="modal-body" id="@string.Format("ipd_ajax_beginform_{0}", "zzz")">
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.HiddenFor(model => model.idFirm)

                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "control-label col-md-3 col-xs-5" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label col-md-3 col-xs-5" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label col-md-3 col-xs-5" })
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-md-3 col-xs-5" })
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.selectedItem, new { @class = "control-label col-md-3 col-xs-5" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.selectedItem, Model.Items, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.selectedItem, "Выберите права доступа", new { @class = "text -danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.Family_name, htmlAttributes: new { @class = "control-label col-md-3 col-xs-5" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Family_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Family_name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3 col-xs-5" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Middle_name, htmlAttributes: new { @class = "control-label col-md-3 col-xs-5" })
                        <div class="col-md-9">
                            <div class="category-container">
                                @Html.EditorFor(model => model.Middle_name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Middle_name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.BirthData, htmlAttributes: new { @class = "control-label col-md-3 col-xs-5" })
                        <div class="col-md-9 col-xs-5">
                            <div class='input-group datepicker col-xs-5' id='@string.Format("datetimepicker2_{0}", "zzz")'>
                                @Html.EditorFor(model => model.BirthData, new { htmlAttributes = new { @class = "form-control", @id = string.Format("datetimepicker2_{0}_input", "zzz") } })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar" />
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.BirthData, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmploymentData, htmlAttributes: new { @class = "control-label col-md-3 col-xs-5" })
                        <div class="col-md-9 col-xs-5">
                            <div class='input-group datepicker col-xs-5' id='@string.Format("datetimepicker2_{0}", "zzz")'>
                                @Html.EditorFor(model => model.EmploymentData, new { htmlAttributes = new { @class = "form-control", @id = string.Format("datetimepicker2_{0}_input", "zzz") } })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar" />
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.EmploymentData, "", new { @class = "text-danger" })
                        </div>
                    </div>
                     <div class="form-group">
                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-3 col-xs-5" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirmsS, htmlAttributes: new { @class = "control-label col-md-3 col-xs-5" })
                        <div class="col-md-9">

                            @Html.TextBoxFor(m => m.firm_string, new { @class = "form-control", @id = string.Format("zzz_firm_{0}", "zzz") })
                            @Html.ValidationMessageFor(model => model.firm_string, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="form-group">
        @Html.LabelFor(model => model.DepartmentS, htmlAttributes: new { @class = "control-label col-md-3 col-xs-5" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.department_string, new { htmlAttributes = new { @class = "form-control", data_role = "tagsinput", id = "zzz_dep" } })
            @Html.ValidationMessageFor(model => model.department_string, "", new { @class = "text-danger" })
        </div>
    </div>*@
                    @*<div class="form-group">
                            <div class="col-md-offset-2 col-md-9">
                            </div>
                        </div>*@
                </div>


            </div>
            <div class="modal-footer">
                <input type="submit" value="Сохранить изменения" class="btn btn-success" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button> 
            </div>
        </div>
                }
 
</div>
<script>
    //$(function () {
    //    $jQval.unobtrusive.parse(document);
    //});
    $(document).ready(function () {
        //$('.datepicker').datetimepicker({
        //    locale: 'ru'
        //});
        var token = [];
        var engine;
        $.get("@Url.Action("AutocompleteFirm", "Administration")", function (response) {
            $.each(response.data, function (i, v) {
                token.push({ value: v });
                console.log("v->");
                console.log(v);
            });
            engine = new Bloodhound({
                local: token,
                datumTokenizer: function (d) {
                    console.log("d.value->");
                    console.log(d.value);
                    return Bloodhound.tokenizers.whitespace(d.value);
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace

            });
            engine.initialize();
            console.log("token-->");
            console.log(token);
            $('#@string.Format("zzz_firm_{0}", "zxc123zxc")').on('tokenfield:createtoken', function (e) {
                var data = e.attrs.value.split('|')
                e.attrs.value = data[1] || data[0]
                e.attrs.label = data[1] ? data[0] + ' (' + data[1] + ')' : data[0]
            }).on('tokenfield:createdtoken', function (e) {
                var re = /\S+\S+\.\S+/
                var valid = re.test(e.attrs.value)
                if (!valid) {
                    $(e.relatedTarget).addClass('invalid')
                }
            }).on('tokenfield:edittoken', function (e) {
                if (e.attrs.label !== e.attrs.value) {
                    var label = e.attrs.label.split(' (')
                    e.attrs.value = label[0] + '|' + e.attrs.value
                }
            }).on('tokenfield:removedtoken', function (e) {
            }).tokenfield({
                typeahead: [null, { source: engine.ttAdapter() }]
            });
        });
    });
</script>

<script>
    $('#form_id').submit(function() {
       // if ($(this).valid()) { // checks form is valid.
            $('.validation-summary-errors').hide(); // hides it
       // }
    });
    @{
        var functionStart1 = "function " + string.Format("OnComplete{0}(data)", "zxc123zxc");
     }
    @functionStart1{
        console.log("OnComplete - modal");
    }
    @{
        var functionStart2 = "function " + string.Format("OnSuccess{0}(data)", "zxc123zxc");
     }
    @functionStart2{
        console.log("OnSuccess - modal");

        //$.validator.unobtrusive.parse($(data));
        var test = @Ajax.ViewData["isValid"].ToString().ToLower();
        console.log(@Ajax.ViewData["isValid"].ToString().ToLower());
        //data.success
        if (test) {
            $('#@string.Format("modalUserAdd_{0}", "zxc123zxc")').modal('hide');
            $('#@string.Format("fio_{0}", "zxc123zxc")').html('@Model.Fio');
            $('#@string.Format("modalUserAdd_{0}", "zxc123zxc")').html("<div><\div>");
            
        }

        //alert("OnSuccess");
    }
    @{
             var functionStart3 = "function " + string.Format("OnFailure{0}(data)", "zxc123zxc");
         }
    @functionStart3{
        console.log("fail");
        console.log(data);
        //alert("OnFailure");
    }

</script>
@*<script>
    $.validator.unobtrusive.parse('#form_id'); // 'form_id' - id новой формы
</script>*@
