﻿@model ICollection<MvcInfos.Models.ViewModels.FirmModel>
@using MvcInfos.Entities.UserConfigurations
@if (Model.Count > 1)
{
	<li id="reportList">
		<a id="reportMenu">
			<i class="fa fa-file-text"></i> Отчеты<span class="fa fa-chevron-down"></span>
		</a>
		<ul class="nav child_menu">
			@foreach (var item in Model)
			{
				<li>

					<a><i class="fa fa-file-text"></i> @item.NameFirm<span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a href="@Url.Action("Report", "Report", new { @idFirm = item.IdFirm })">Мой отчет</a></li>
						<li><a href="@Url.Action("ValidReport", "Report", new { @idFirm = item.IdFirm, @isCurrent = true })">Проверить отчеты</a></li>
					</ul>
				</li>
			}
		</ul>
	</li>

}
else
{
	if (Model.Count == 1)
	{
		<li id="reportList">

			<a><i class="fa fa-file-text"></i> Отчеты<span class="fa fa-chevron-down"></span></a>
			<ul class="nav child_menu">
				<li><a href="@Url.Action("Report", "Report", new { @idFirm = Model.First().IdFirm })">Мой отчет</a></li>
				<li><a href="@Url.Action("ValidReport", "Report", new { @idFirm = Model.First().IdFirm, @isCurrent = true })">Проверить отчеты</a></li>
			</ul>
		</li>
	}
	else
	{

	}

}


