﻿@model ICollection<MvcInfos.Models.ViewModels.FirmModel>
@using MvcInfos.Entities.UserConfigurations
@if (Model.Count > 1)
{
	<li id="taskList">
		<a id="taskMenu">
			<i class="fa fa-outdent"></i> Задачи организаций<span class="fa fa-chevron-down"></span>
		</a>
		<ul class="nav child_menu">
			@foreach (var item in Model)
			{
				<li>
					<a><i class="fa fa-tasks"></i> Задачи<span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a href="@Url.Action("Tasks", "TaskManager", new { @idFirm = item.IdFirm, @isCurrent = true })">Мои задачи</a></li>
						<li><a href="@Url.Action("TaskManager", "TaskManager", new { @idFirm = item.IdFirm, @isCurrent = true })">Менеджер</a></li>
						<li><a href="@Url.Action("NewTask", "TaskManager", new { @idFirm = item.IdFirm, @isCurrent = true })">Назначить задачу</a></li>
					</ul>
				</li>
			}
		</ul>
	</li>

}
else
{
	if (Model.Count == 1)
	{
		<li id="taskList">
			<a><i class="fa fa-tasks"></i> Задачи<span class="fa fa-chevron-down"></span></a>
			<ul class="nav child_menu">
				<li><a href="@Url.Action("Tasks", "TaskManager", new { @idFirm = Model.First().IdFirm, @isCurrent = true })">Мои задачи</a></li>
				<li><a href="@Url.Action("TaskManager", "TaskManager", new { @idFirm = Model.First().IdFirm, @isCurrent = true })">Менеджер</a></li>
				<li><a href="@Url.Action("NewTask", "TaskManager", new { @idFirm = Model.First().IdFirm, @isCurrent = true })">Назначить задачу</a></li>
			</ul>
		</li>
	}
	else
	{
		@*if (User.IsHasAccessRights(EnumerableRoles.administrator_server) || User.IsHasAccessRights(EnumerableRoles.administrator_firm) || User.IsHasAccessRights(EnumerableRoles.manager))
		{
			<li id="taskList">
				<a><i class="fa fa-tasks"></i> Задачи<span class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="@Url.Action("Tasks", "TaskManager")">Мои задачи</a></li>
					<li><a href="@Url.Action("TaskManager", "TaskManager")">Менеджер</a></li>
					<li><a href="@Url.Action("NewTask", "TaskManager")">Назначить задачу</a></li>
				</ul>
			</li>
		}*@
		@*<li id="projectList">
				<a id="projectMenu" href="@Url.Action("PrintProjects","ProjectManager")">
					<i class="fa fa-outdent"></i> Проекты
				</a>
			</li>*@
	}

}
