﻿@model ICollection<MvcInfos.Models.ViewModels.FirmModel>
@using MvcInfos.Entities.UserConfigurations
@if (Model.Count > 1)
{
    <li id="projectList">
        <a id="projectMenu">
            <i class="fa fa-outdent"></i> Проекты организаций<span class="fa fa-chevron-down"></span>
        </a>
        <ul class="nav child_menu">
            @foreach (var item in Model)
            {
                <li>
                    <a href="@Url.Action("PrintProjects", "ProjectManager", new { @idFirm = item.IdFirm, @isCurrent = true })">@item.NameFirm</a>
                </li>
            }
        </ul>
    </li>

}
else
{
    if (Model.Count == 1)
    {
        <li id="projectList">
            <a id="projectMenu" href="@Url.Action("PrintProjects", "ProjectManager", new { @idFirm = Model.First().IdFirm, @isCurrent = true })">
                <i class="fa fa-outdent"></i> Проекты
            </a>
        </li>
    }
    else
    {
        @*if (User.IsHasAccessRights(EnumerableRoles.administrator_server) || User.IsHasAccessRights(EnumerableRoles.administrator_firm) || User.IsHasAccessRights(EnumerableRoles.manager))
        {
            <li id="projectList">
                <a id="projectMenu" href="@Url.Action("PrintProjects","ProjectManager")">
                    <i class="fa fa-outdent"></i> Проекты
                </a>
            </li>
        }*@
       @*<li id="projectList">
        <a id="projectMenu" href="@Url.Action("PrintProjects","ProjectManager")">
            <i class="fa fa-outdent"></i> Проекты
        </a>
    </li>*@
    }

}
