﻿@model ICollection<MvcInfos.Models.ViewModels.FirmModel>
@using MvcInfos.Entities.UserConfigurations
@if (Model.Count > 1)
{
	<li id="mailList">
		<a id="mailMenu">
			<i class="fa fa-envelope-o"></i> Письма организаций<span class="fa fa-chevron-down"></span>
		</a>
		<ul class="nav child_menu">
			@foreach (var item in Model)
			{

				<li>
					<a><i class="fa fa-envelope-o"></i> Письма из @item.NameFirm<span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a href="@Url.Action("MailList", "Mail", new { @idFirm = item.IdFirm, @isCurrent = true })">Мои письма</a></li>						
						<li><a href="@Url.Action("NewMail", "Mail", new { @idFirm = item.IdFirm })">Регистрация письма</a></li>
						@*<li><a href="@Url.Action("NewTask", "TaskManager", new { @idFirm = Model.First().IdFirm, @isCurrent = true })">Назначить задачу</a></li>*@
					</ul>
				</li>
			}
		</ul>
	</li>

}
else
{
	if (Model.Count == 1)
	{
		<li id="mailList">
			<a><i class="fa fa-envelope-o"></i> Письма<span class="fa fa-chevron-down"></span></a>
			<ul class="nav child_menu">
				<li><a href="@Url.Action("MailList", "Mail", new { @idFirm = Model.First().IdFirm, @isCurrent = true })">Мои письма</a></li>
				<li><a href="@Url.Action("NewMail", "Mail", new { @idFirm = Model.First().IdFirm })">Регистрация письма</a></li>
				@*<li><a href="@Url.Action("NewTask", "TaskManager", new { @idFirm = Model.First().IdFirm, @isCurrent = true })">Назначить задачу</a></li>*@
			</ul>
		</li>
	}
	else
	{
		@*if (User.IsHasAccessRights(EnumerableRoles.administrator_server) || User.IsHasAccessRights(EnumerableRoles.administrator_firm) || User.IsHasAccessRights(EnumerableRoles.manager))
			{
				<li id="mailList"><a href="@Url.Action("MailList", "Mail")"><i class="fa fa-tasks"></i> Письма</a></li>
			}*@
		@*<li id="projectList">
				<a id="projectMenu" href="@Url.Action("PrintProjects","ProjectManager")">
					<i class="fa fa-outdent"></i> Проекты
				</a>
			</li>*@
	}

}
