﻿@model MvcInfos.Models.ViewModels.Home.LayoutViewModel

<div class="profile_pic">
	@if (Request.IsAuthenticated)
	{
		if ((Model.PhotoURL == null) && (Model.IsAD == false))
		{
			<img src="~/images/user.png" alt="..." class="img-circle profile_img">
		}
		else
		{
			if (Model.PhotoURL != null)
			{
				<img src="@Model.PhotoURL" alt="@Model.FI" class="img-circle profile_img">
			}
			else
			{
				<img src="@Url.Action("LoadUserImageFromActiveDirectory", "Upload")" alt="@Model.FI" class="img-circle profile_img">
			}
		}
	}
	else
	{
		<img src="~/images/user.png" alt="..." class="img-circle profile_img">
	}
</div>
<div class="profile_info">
	@if (Request.IsAuthenticated)
	{
		<span>
			Здравствуйте,
		</span>
		<h2>@Model.FI </h2>
	}
	else
	{
		@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
	}
</div>

