﻿@model MvcInfos.Models.ViewModels.Home.LayoutViewModel

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()
		<ul class="nav navbar-nav navbar-right">

			@*Вход и выход в правом верхнем углу*@
			<li class="">
				<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					@if ((Model.PhotoURL == null) && (Model.IsAD == false))
					{
						<img src="~/images/user.png" alt="...">
					}
					else
					{
						if (Model.PhotoURL != null)
						{
							<img src="@Model.PhotoURL" alt="@Model.FI" >
						}
						else
						{
							<img src="@Url.Action("LoadUserImageFromActiveDirectory", "Upload")" alt="@Model.FI">
						}
					}
					@Model.FI
					<span class="fa fa-angle-down"></span>
				</a>
				<ul class="dropdown-menu dropdown-usermenu pull-right">
					<li>@Html.ActionLink("Профиль", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Профиль" })</li>
					<li>
						<a href="javascript:;">
							<span class="badge bg-red pull-right">50%</span>
							<span>Настройки</span>
						</a>
					</li>
					<li><a href="javascript:;">Помощь</a></li>
					<li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out pull-right"></i> Выход</a></li>
				</ul>
			</li>
			@*почта*@
			<li role="presentation" class="dropdown">
				<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false" title="Почта">
					<i class="fa fa-envelope-o"></i>
					<span class="badge bg-green">6</span>
				</a>
				<ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
					<li>
						<a>
							<span class="image"><img src="../images/img.jpg" alt="Profile Image" /></span>
							<span>
								<span>John Smith</span>
								<span class="time">3 mins ago</span>
							</span>
							<span class="message">
								Film festivals used to be do-or-die moments for movie makers. They were where...
							</span>
						</a>
					</li>
					<li>
						<a>
							<span class="image"><img src="../images/img.jpg" alt="Profile Image" /></span>
							<span>
								<span>John Smith</span>
								<span class="time">3 mins ago</span>
							</span>
							<span class="message">
								Film festivals used to be do-or-die moments for movie makers. They were where...
							</span>
						</a>
					</li>
					<li>
						<a>
							<span class="image"><img src="../images/img.jpg" alt="Profile Image" /></span>
							<span>
								<span>John Smith</span>
								<span class="time">3 mins ago</span>
							</span>
							<span class="message">
								Film festivals used to be do-or-die moments for movie makers. They were where...
							</span>
						</a>
					</li>
					<li>
						<a>
							<span class="image"><img src="../images/img.jpg" alt="Profile Image" /></span>
							<span>
								<span>John Smith</span>
								<span class="time">3 mins ago</span>
							</span>
							<span class="message">
								Film festivals used to be do-or-die moments for movie makers. They were where...
							</span>
						</a>
					</li>
					<li>
						<div class="text-center">
							<a>
								<strong>See All Alerts</strong>
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</li>
				</ul>
			</li>
			<li role="presentation" class="dropdown">
				<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false" title="Задачи">
					<i class="fa fa-tasks"></i>
					<span class="badge bg-green">6</span>
				</a>
				<ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
					<li>
						<a>
							<span class="image"><img src="../images/img.jpg" alt="Profile Image" /></span>
							<span>
								<span>John Smith</span>
								<span class="time">3 mins ago</span>
							</span>
							<span class="message">
								Film festivals used to be do-or-die moments for movie makers. They were where...
							</span>
						</a>
					</li>
					<li>
						<a>
							<span class="image"><img src="../images/img.jpg" alt="Profile Image" /></span>
							<span>
								<span>John Smith</span>
								<span class="time">3 mins ago</span>
							</span>
							<span class="message">
								Film festivals used to be do-or-die moments for movie makers. They were where...
							</span>
						</a>
					</li>
					<li>
						<a>
							<span class="image"><img src="../images/img.jpg" alt="Profile Image" /></span>
							<span>
								<span>John Smith</span>
								<span class="time">3 mins ago</span>
							</span>
							<span class="message">
								Film festivals used to be do-or-die moments for movie makers. They were where...
							</span>
						</a>
					</li>
					<li>
						<a>
							<span class="image"><img src="../images/img.jpg" alt="Profile Image" /></span>
							<span>
								<span>John Smith</span>
								<span class="time">3 mins ago</span>
							</span>
							<span class="message">
								Film festivals used to be do-or-die moments for movie makers. They were where...
							</span>
						</a>
					</li>
					<li>
						<div class="text-center">
							<a>
								<strong>See All Alerts</strong>
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</li>
				</ul>
			</li>

		</ul>

			@*<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Здравствуйте, @User.Identity.GetUserName()!
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								@Html.ActionLink("Аккаунт", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Аккаунт" })
							</li>

							@{
								if (User.IsHasAccessRights(EnumerableRoles.administrator_server))
								{
									<li>
										@Html.ActionLink("Администрирование сервером", "Index", "Administration")
									</li>
								}
								else
								{
									if (User.IsHasAccessRights(EnumerableRoles.administrator_firm))
									{
										<li>
											@Html.ActionLink("Администрирование", "Administration_firm", "Administration")
										</li>
									}
									else
									{
										if (User.IsHasAccessRights(EnumerableRoles.manager))
										{
											<li>
												@Html.ActionLink("Управление", "Administration_manager", "Administration")
											</li>
										}
										else
										{
											if (User.IsHasAccessRights("user"))
											{
											}
										}
									}
								}

								}
							<li class="divider"></li>
							<li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
						</ul>
					</li>
				</ul>*@
	}
}
else
{
	<ul class="nav navbar-nav navbar-right">
		@*<ul class="nav navbar-nav navbar-right">*@
		@if (Model.IsFirst == true)
		{
			<li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
		}
		else
		{
			<li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
		}


	</ul>
}
