﻿@model ICollection<MvcInfos.Models.ViewModels.FirmModel>
@using MvcInfos.Entities.UserConfigurations
@using MvcInfos.Extensions
@using MvcInfos.ActiveDirectory.Extensions;
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
	<div class="menu_section">
		<h3>Основные функции (@System.Globalization.CultureInfo.CurrentCulture.Name) </h3>
		<ul class="nav side-menu">
			@if (!Request.IsAuthenticated)
			{
				<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Главная </a></li>
			}
			else
			{
				<li><a href="@Url.Action("Statistics", "Statistic")"><i class="fa fa-line-chart"></i> Статистика </a></li>

				if (Model.Count > 0)
				{
					if (User.IsHasAccessRights(EnumerableRoles.project_manager) || User.IsHasAccessRights(EnumerableRoles.administrator_server) || User.IsHasAccessRights(EnumerableRoles.administrator_firm) || (User.IsHasAccessRights(EnumerableRoles.manager)))
					{
						Html.RenderPartial("partials/_FirmsMailsPartial", Model);
						Html.RenderPartial("partials/_FirmsReportsPartial", Model);
						@*Html.RenderPartial("partials/_FirmsCustomerPartial", Model);*@
					}
					else
					{
						<li id="mailList"><a href="@Url.Action("MailList", "Mail")"><i class="fa fa-envelope-o"></i> Письма</a></li>
						<li id="reportList"><a href="@Url.Action("Report", "Report")"><i class="fa fa-file-text"></i> Отчет</a></li>
					}


					if (User.IsHasAccessRights(EnumerableRoles.project_manager) || User.IsHasAccessRights(EnumerableRoles.administrator_server) || User.IsHasAccessRights(EnumerableRoles.administrator_firm) || (User.IsHasAccessRights(EnumerableRoles.manager)))
					{
						Html.RenderPartial("partials/_FirmsTasksPartial", Model);
					}
					else
					{
						<li><a href="@Url.Action("Tasks", "TaskManager")"><i class="fa fa-tasks"></i> Задачи</a></li>
					}
					<li><a href="@Url.Action("Calendar", "TaskManager")"><i class="fa fa-calendar"></i> Календарь</a></li>
				}
			}
			@if (User.IsHasAccessRights(EnumerableRoles.project_manager) || User.IsHasAccessRights(EnumerableRoles.administrator_server) || User.IsHasAccessRights(EnumerableRoles.administrator_firm) || User.IsHasAccessRights(EnumerableRoles.manager))
			{
				Html.RenderPartial("partials/_FirmsProjectsPartial", Model);
			}
			@if (User.IsHasAccessRights(EnumerableRoles.administrator_server) || User.IsHasAccessRights(EnumerableRoles.administrator_firm))
			{
				<li>
					<a><i class="fa fa-sliders"></i>Управление <span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						@if (User.IsHasAccessRights(EnumerableRoles.administrator_server))
						{
							<li>
								<a>Обо всех организациях<span class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
									<li class="sub_menu">
										@Html.ActionLink("Все пользователи", "AllUsers", "Administration")
									</li>
									<li>
										@Html.ActionLink("Все организации", "AllFirms", "Administration")
									</li>
								</ul>
							</li>
						}
						@if (User.IsHasAccessRights(EnumerableRoles.administrator_server) || User.IsHasAccessRights(EnumerableRoles.administrator_firm))
						{
							<li>
								@Html.ActionLink("О моих организациях", "Admins", "Administration")
							</li>
						}
					</ul>
				</li>

				<li>
					<a><i class="fa fa-cogs"></i>Настройка сервера <span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li class="sub_menu">
							@Html.ActionLink("Хостинг файлов", "FileHosting", "Settings")
						</li>
						<li>
							@Html.ActionLink("Законодательные", "Organization", "Settings")
						</li>

						@if (Html.IsAzure() == false)
						{

							<li>
								<a>Active Directory<span class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
									<li class="sub_menu">
										@Html.ActionLink("Настройка", "ActiveDirectory", "Settings")
									</li>
									<li>
										@Html.ActionLink("Синхронизация", "Index", "ActiveDirectory")
									</li>
								</ul>
							</li>


						}
						<li>
							@Html.ActionLink("Центр сертификации", "Cerificates", "Settings")
						</li>
					</ul>
					@{
///TODO: Реализовать настройку сервера
					}
				</li>



			}
		</ul>

	</div>
</div>

<!-- /sidebar menu -->
