﻿@{
    ViewBag.Title = "Обо мне";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Вы наверно думаете, какой псих заставил перейти вас по этой сылки... Где та тайна... а вот и нет тайны! Делайте все вовремя! Не допускайте дедлайнов!</p>
