<div class="jumbotron">
    <h1>INFOS v2</h1>
@if (Request.IsAuthenticated)
{
    <p class="lead">
        Добро пожаловать в <abbr title="Информационная система проектной организации">ИНФОС</abbr>.
        <br /> <small>
            Я, бесприкословный создатель этого этого приложения, рад видеть тебя на своем сайте! Ты успешно прошел эту раздражающую ,но неотвратимую процедуру регистрации, значит мы будем сотрудничать ! :) Надеюсь, тебе понравится!
            Итак, давай разберемся в твоих желаниях . Ты хочешь :       
            @*Вы зарегистрировались на данном сайте, с чем могу вас поздравить.*@
        </small>
    </p>

    if ((int)ViewData["CountEmployee"] == 0)
    {
        <div class="alert alert-danger" role="alert">На сервере нет пользователей. Советую создать.</div>
    }
    {
        // var dd = User.Identity.Name;
        //  @Html.ViewContext.HttpContext.User.Identity.Name

    }
}
else
{
    <p class="lead">Добро пожаловать в <abbr title="Информационная система проектной организации">ИНФОС</abbr>.
    <br />
    <small>Время деньги! Для начала зарегистрируйся, и выбери желательно - administrator. Конечно твое право что выбирать, но жеалтельно был бы админ.</small>
    </p>
   {
       //var dd = User.Identity.Name;
        
}

   }
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
@if (Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-4">
            <h2>Что нужно знать</h2>
            <p>
                Данное программное обеспечение копирует или инетрпретирует функционал чешской
                программы под названием <abbr title="Information system">INFOS 2001</abbr>.
            </p>
            <p><a class="btn btn-default" href="http://www.infos2001.cz/cz/index.php">Узнать больше &raquo;</a></p>
        </div>

        @if (User.IsInRole("administrator_server") || (User.IsInRole("administrator_firm")) || (User.IsInRole("manager")))
        {        <div class="col-md-4">
                     <h2>Хочешь добавить проект?</h2>
                     <p>Тогда тебе сюда! Тут ты сможешь не только добавить, но и отредактировать проект! Следить за ним! </p>
                       @*<a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>*@
                   <p> @Html.ActionLink("Управление проектами", "stats", "ProjectManager", null, new { @class="btn btn-default"})</p>
            </div>

        }
        else
        {
            <div class="col-md-4">
                <h2>Хочешь отчитаться о проделаной работе?</h2>
                <p>Тогда тебе сюда! Тут ты сможешь оставить свой голос, и твой начальник будет занть что ты не просто так вчера играл в косынку, а потому что тебе нечего делать и ты хочешь работы<span class="glyphicon glyphicon-thumbs-up"></span>! </p>
                @*<a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>*@
                <p> @Html.ActionLink("Отчитаться", "report", "UserEmployeement", null, new { @class = "btn btn-default" })</p>
            </div>
        }

        <div class="col-md-4">
            <h2><span class="glyphicon glyphicon-time"></span> Время деньги!</h2>
            <p> Экономьте свое время! Делайте проекты во время!</p>
            <p> @Html.ActionLink("Узнать больше", "aboutMe", "proger", null, new { @class = "btn btn-default" })</p>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-4">            
            <h2><span class="glyphicon glyphicon-info-sign"></span> Что нужно знать</h2>
            <p>
                Данное программное обеспечение копирует или инетрпретирует функционал чешской 
                программы под названием <abbr title="Information system">INFOS 2001</abbr>. НО НЕ КОПИРУЕТ ИСХОДНЫЙ КОД!!!        
            </p>
            <p> @Html.ActionLink("Узнать больше", "About", null, new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-4">
            <h2><span class="glyphicon glyphicon-thumbs-up"></span> Совместимость</h2>
            <p>Следите за развитием ваших проектов на любом компьютере! Данное приложение будет всегда на страже вашей головной боли.. Потому что когда эти строчки были написаны, программист стардал от явного недосыпа и был готов писать ахинею всем и всю. </p>
            <p> @Html.ActionLink("Узнать больше", "About", null, new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-4">
            <h2><span class="glyphicon glyphicon-time"></span> Время деньги!</h2>
            <p> Экономьте свое время! Делайте проекты во время!</p>
            <p> @Html.ActionLink("Узнать больше", "About",null, new { @class = "btn btn-default" })</p>
        </div>
    </div>

}
