<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Инфос V2. ПГУ версия</title>
    @Styles.Render("~/Content/css"@*, "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"*@)  
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/moment_with_locales_min")
    @Scripts.Render("~/bundles/jquery")  
    @Scripts.Render("~/bundles/jqueryui")


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")

    <script> 

        $.validator.methods.date = function (value, element) {
            if (!value)
                return false;
            var splitVal = value.split(' ');
            var date = splitVal[0].split('-');
            var time = (splitVal.length == 2 ? splitVal[1] : '0:0:0').split(':');
            var _date = new Date(value);
         
            console.log(this.optional(element) || !/Invalid|NaN/.test(_date));
            return true;
        };

    </script>
      @*@Scripts.Render("~/bundles/momentmin")*@

</head>

<body> 
     <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Инфос V2. ПГУ версия", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("О программе", "About", "Home")</li>
                    @if (User.IsInRole("administrator_server") || (User.IsInRole("administrator_firm")) || (User.IsInRole("manager")))
                    {
                            <li>@Html.ActionLink("Управление проектами", "stats", "ProjectManager")</li>
                    }
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Доп функции
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Привет МИР!!", "Index", "HelloWorld")</li>
                            <li>@Html.ActionLink("Empl", "Index", "Employees")</li>
                        </ul>
                    </li>   
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – Инфос V2. ПГУ версия</p>
            <p>&copy; @DateTime.Now.Year – Купцов К. С.</p>
        </footer>
    </div>


 
    @*@Scripts.Render("~/bundles/typeahead")
    <script src="~/Scripts/typeahead.mvc.model.js" />*@
    @RenderSection("scripts", required: false)
</body>
</html>
