﻿@model MvcInfos.Models.ViewModels.AdministrationFirmDepartmentViewModels
@using MvcInfos.Controllers;


<div>
    <!-- Modal -->
    <div class="modal fade" id="@string.Format("myModal_departmentDel_{0}", Model.GetFD)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Удалить</h4>
                    </div>
                    <div class="modal-body">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                        </dl>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-success" data-dismiss="modal">Нет!</button>
                        <a href="@Url.Action("Delete", new { idFirm = Model.IdFirm, idDepartment = Model.IdDepartment, efd = EnumerableForDelete.Department })" class="btn btn-danger">
                            Да!
                        </a>

                    </div>
                }
            </div>

        </div>
    </div>
</div>

<div>
    <!-- Modal -->
    <div class="modal fade" id="@string.Format("myModal_departmentDet_{0}", Model.GetFD)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">@string.Format("Подробнее об {0} из {1}", Model.Name, Model.FirmName) </h4>
                </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.ColVoInDep)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ColVoInDep)
                        </dd>
                    </dl>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.FIO)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.FIO)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item)
                                </td>
                                <td>
                                    @*<button type="button" class="btn btn-primary" data-toggle="modal" title="Редактировать" data-target="@String.Format("#myModalEdit_{0}",item)">
                                            <span class="glyphicon glyphicon-edit" />
                                        </button>*@

                                </td>
                            </tr>
                        }
                        </tbody>
                        @*@Html.Action("_modal_for_departments", new { id_firm = ViewData["id_firm"] })*@
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>

</div>

<div>
    @using (Html.BeginForm("EditDepartment", "Administration", new { idFirm = Model.IdFirm, idDepartment = Model.IdDepartment, efd = EnumerableForDelete.Department }))
    {
        @Html.AntiForgeryToken()
    <!-- Modal -->
        <div class="modal fade" id="@string.Format("myModal_departmentEdit_{0}", Model.GetFD)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">@string.Format("Редактирование {0} в {1}", Model.Name, Model.FirmName) </h4>
                    </div>
                    <div class="modal-body">


                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.IdDepartment)
                            @Html.HiddenFor(model => model.IdFirm)
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @{ 
//Html.Action("_DropdownDirectorsPartial", "Administration", new { @id_firm = Model.idFirm });
                            }
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Сохранить изменения" class="btn btn-default" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

