﻿@model MvcInfos.Models.ViewModels.AdministrationFirmDepartmentViewModels
@using MvcInfos.Controllers;





@*Добавление нового отдела в фирму*@
<div>
    <!-- Modal -->
    <div class="modal fade" id="@string.Format("myModal_departmentAdd_{0}", Model.IdFirm)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @using (Html.BeginForm("AddDepartment", "Administration", new { firmID = Model.IdFirm }))
            {
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">@string.Format("Добавление нового отдела в {0}", Model.FirmName) </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.IdFirm)
                            @Html.HiddenFor(model => model.IdDepartment)
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Сохранить изменения" class="btn btn-default" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        @*<button type="button" class="btn btn-primary">Save changes</button>*@
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")



    <script type="text/javascript" language="javascript">
        $('#@String.Format("#myModal_departmentAdd_{0}", Model.IdFirm)').on('shown.bs.modal', function () {
            $('#myInput').focus();
        })
    </script>
}