﻿@model MvcInfos.Models.ViewModels.AdministrationUserModalWindow
@using MvcInfos.Controllers;

<div>
	<!-- Modal -->
	<div class="modal fade" id="@string.Format("myModalDel_{0}", Model.Id)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Удалить</h4>
				</div>
				<div class="modal-body">
					<dl class="dl-horizontal">
						<dt>
							@Html.DisplayNameFor(model => model.Fio)
						</dt>
						<dd>
							@Html.DisplayFor(model => model.Fio)
						</dd>
						<dt>
							@Html.DisplayNameFor(model => model.UserName)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.UserName)
						</dd>
					</dl>
				</div>
				<div class="modal-footer">
					@using (Html.BeginForm())
					{
						@Html.AntiForgeryToken()
						<button type="button" class="btn btn-success" data-dismiss="modal">Нет!</button>
						<a href="@Url.Action("Delete", new { id_user_to_delete = Model.Id, efd = EnumerableForDelete.User })" class="btn btn-danger">
							Да!
						</a>
					}

				</div>
			</div>
		</div>
	</div>

</div>

<div>
	<!-- Modal -->
	<div class="modal fade" id="@string.Format("myModalDet_{0}", Model.Id)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">@string.Format("Подробнее({0})", Model.UserName) </h4>
				</div>
				<div class="modal-body">
					<dl class="dl-horizontal">
						<dt>
							@Html.DisplayNameFor(model => model.Fio)
						</dt>
						<dd>
							@Html.DisplayFor(model => model.Fio)
						</dd>
						<dt>
							@Html.DisplayNameFor(model => model.UserName)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.UserName)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.BirthDate)
						</dt>
						<dd>
							@Html.DisplayFor(model => model.BirthDate)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Email)
						</dt>
						<dd>
							@Html.DisplayFor(model => model.Email)
						</dd>
						<dt>
							@Html.DisplayNameFor(model => model.PhoneNumber)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.PhoneNumber)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Firms)
						</dt>
						<dd>
							@foreach (var item in Model.Firms)
							{
								<dl class="dl-horizontal">
									<dd>@Html.Display(item.FirmString)</dd><dt>@Html.DisplayFor(model => model.PhoneNumber)</dt>
								</dl>
							}
						</dd>


					</dl>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
					@*<button type="button" class="btn btn-primary">Save changes</button>*@
				</div>
			</div>
		</div>
	</div>

</div>


@section Scripts{
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/jqueryui")

	<script type="text/javascript">
		$(document).ready(function () {
			$(".phone").mask("(999)-999-9999");
		});
	</script>
	<script type="text/javascript" language="javascript">
        $('#@string.Format("myModalDel_{0}", Model.Id)').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
	</script>
	<script type="text/javascript" language="javascript">
        $('#@string.Format("myModalDet_{0}", Model.Id)').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
	</script>
	<script type="text/javascript" language="javascript">
        $('#@string.Format("myModalEdit_{0}", Model.Id)').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
	</script>






	@*<script type="text/javascript">
			$(function () {
				$('body').on('click', '.modal-link', function (e) {
					e.preventDefault();
					$(this).attr('data-target', '#myModal');
					$(this).attr('data-toggle', 'modal');
				});
				$('body').on('click', 'modal-close-btn', function () {
					$('#myModal').modal('hide');
				})
				$('#myModal').on('hidden.bs.modal', function () {
					$(this).removeData('bs.modal');
				})
			})
		</script>*@
}